<script>
              if (typeof BSS_PL == 'undefined') {
                  var BSS_PL = {};
              }
              var bssPlApiServer = "https://product-labels-pro.bsscommerce.com";
              BSS_PL.customerTags = {% if customer %}'{%for tag in customer.tags%}{{ tag }},{% endfor %}'{% else %}'null'{% endif %};
              BSS_PL.configData = [{"name":"FS","priority":1,"img_url":"1625056541992_FS_1625056217180.png","pages":"1,2,3,4,7","enable_allowed_countries":0,"locations":"","position":0,"fixed_percent":0,"width":null,"height":null,"product_type":2,"product":"","collection":"","inventory":0,"tags":"SOHOSALE","enable_visibility_date":0,"from_date":null,"to_date":null,"enable_discount_range":0,"discount_type":1,"discount_from":null,"discount_to":null,"public_img_url":"https://cdn.shopify.com/s/files/1/1644/8651/t/272/assets/1625056541992_FS_1625056217180_png?v=1625056592","label_text":"","label_text_color":"#ffffff","label_text_font_size":12,"label_text_background_color":"#ff7f50","label_text_no_image":1,"label_text_in_stock":"In Stock","label_text_out_stock":"Sold out","label_shadow":0,"label_opacity":100,"label_border_radius":0,"label_text_style":0,"label_shadow_color":"#808080","label_text_enable":1,"related_product_tag":null,"customer_tags":null,"customer_type":"allcustomers","label_on_image":"2","first_image_tags":null,"label_type":2,"badge_type":0,"custom_selector":"{\"productPageSelector\":\"\",\"collectionPageSelector\":\"\",\"otherPageSelector\":\"\"}","margin_top":0,"margin_bottom":0,"mobile_config_label_enable":0,"mobile_height_label":null,"mobile_width_label":null,"mobile_font_size_label":null,"label_text_id":19192,"emoji":null,"emoji_position":null,"transparent_background":null,"custom_page":null,"check_custom_page":null,"label_unlimited_top":33,"label_unlimited_left":33,"label_unlimited_width":30,"label_unlimited_height":30,"margin_left":0,"instock":null,"enable_price_range":0,"price_range_from":null,"price_range_to":null,"enable_product_publish":0,"product_publish_from":null,"product_publish_to":null,"enable_countdown_timer":0,"option_format_countdown":0,"countdown_time":null,"option_end_countdown":null,"start_day_countdown":null}];
              BSS_PL.storeId = 11936;
              BSS_PL.currentPlan = "ten_usd";
              BSS_PL.storeIdCustomOld = "10678";
              </script>
          <style>
.homepage-slideshow .slick-slide .bss_pl_img {
    visibility: hidden !important;
}
</style>