{% assign custom = shop.metafields.call_for_price.Settings %}
{% assign btn_name=custom.callforprice_label %}
{% assign contact_no=custom.contact_no %}
{% assign product_array=custom.products %} 
{% assign submit_btn_name=custom.submit %} 
{% assign hidePrice=custom.hidePrice %} 
{% assign hideaddtocart=custom.hideaddtocart %}
{% assign email=custom.email %} 
{% assign title=custom.title %} 
{% assign product_array=custom.products %} 
{% assign is_all_products=custom.is_all_products %} 
{% assign is_enabled=custom.is_enabled %} 
{% assign redirect_page=custom.redirect_url %} 
{% assign is_redirect=custom.is_redirect %}
{% assign country_enable=custom.country_enable %}
{% assign translate_fields = custom.translate_fields %}
{% assign pay_status = custom.pay_status %}
{% assign plan_name = custom.plan_name %}
{% assign mail_chimp_enable = custom.mail_chimp_enable %}
{% assign variants_enable = custom.variants_enable %}

  {% include 'call-for-price-modal' %}
{% if is_enabled == "1" %}

<style>
  
  {{hidePrice}}{
  display:none;
  }
  
  .cfp-prod-button{
    display:none;
  }
  
  form[action="/cart/add"]{
  /*  display:none;  */
  }
  
  .cfp-prod-handle, .cfp-prod-url, .cfp-prod-title , .cfp-prod-id
  {
    
   display:none; 
    
  }
  
  
  
  
</style>
<script>
  
 
 
  
  

var loadScript = function (url, callback) {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    if (script.readyState) {
        script.onreadystatechange = function () {
            if (script.readyState == 'loaded' || script.readyState == 'complete') {
                script.onreadystatechange = null;
                callback();
            }
        };
    } else {
        script.onload = function () {
            callback();
        };
    }
    script.src = url;
    document.getElementsByTagName('head') [0].appendChild(script);
};
  
if ((typeof jQuery === 'undefined') || (parseFloat(jQuery.fn.jquery) < 1.7)) {
    loadScript('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', function () {
        jQuery191 = jQuery.noConflict(true);
        myAppJavaScript(jQuery191);
    });
} else {
    myAppJavaScript(jQuery);
}
  
 
function myAppJavaScript($) {
  
  $(document).on("click",".carousel__prev,.carousel__next",function()  // code for dmleisure.myshopify.com
                 {
   // console.log("call");
    myAppJavaScript(jQuery);
    
  });
  
  
 
 
  
  var Create_form_fields=(productdata)=>
  {
    
   
    var options=productdata.product.options;
    
    
    for(let i = 0; i < options.length; i++){
      
      var varianName=options[i].name;
      var varianValuesArray=options[i].values;
    //  console.log(varianValuesArray);
     // select_id=`cfp_sel_${varianName}`;
      select_id=varianName;
       select_id = select_id.replace("(", "");
      select_id = select_id.replace(")", "");
     // select_id=select_id.replaceAll(" ","_");
     
     select_id=select_id.replace(/\s/g,"");
      select_id=select_id.replace(/\//g,"");
      
      
   //  select_id=select_id.replaceAll("/","-");
      
      if(varianName=="Title") 
      {
        continue;
                    
                    }
                    
      
      
         SelectDiv=`<div class="form-group">
<select class="form-control formfield cfp_var_data" id=${select_id} name="cfp_var['var']['${varianName}']"><option selected="true" value="select_default_opt" disabled="disabled" >
Select ${varianName}</option></select></div>`;   //created dynamic select option
      
      $('.cfp_variants').prepend(SelectDiv);
    var options_html=  varianValuesArray.forEach(Create_selectmenu); 
      
      
     
      
     
      
      
function Create_selectmenu(item) {
  
   var options='<option value="'+item+'">'+item+'</option>'; 
  //created dynamic options for select menu
  $('#'+select_id).append(options); 
  
  //console.log(options);
  // console.log(select_id);
  
  
} 
      
      
    }
    
  }
  
  
  
  name_vald="{{translate_fields.name_vald}}"
  email_blank_vald="{{translate_fields.email_blank_vald}}"
  email_invalid_vald="{{translate_fields.email_invalid_vald}}"
  message_vald="{{translate_fields.message_vald}}"
  phone_blank_vald="{{translate_fields.phone_blank_vald}}"
  phone_cc_vald="{{translate_fields.phone_cc_vald}}"
  country_vald="{{translate_fields.country_vald}}"
  success_message="{{translate_fields.success_message}}"
  variants_enable="{{variants_enable}}";
  
  
 
  
  
   prod_handle_arr = {{ product_array | json }};
  
   prod_handle_arr = prod_handle_arr.replace(/\s/g,"");
   prod_handle_arr = prod_handle_arr.split(",");
  
   is_all_products = "{{is_all_products}}";
   hidePrice = "{{hidePrice}}"
   enable="{{is_enabled}}";
   
   
   
   /* code if premium plan the show checkbox for user for subscription*/
   
 
   pay_status="{{pay_status}}"
   plan_name="{{plan_name}}"
   mail_chimp_enable="{{mail_chimp_enable}}"
   
   
   if(pay_status=="active" && plan_name =="cfp_plan_premium" )
   {
     
     if(mail_chimp_enable=="1")
     {
     $('.cfp_subscribe_wrapper').show();
     }
   }
  
  else
  {  
    $('.cfp_subscribe_wrapper').hide();
  }
   
  shop=Shopify.shop; 
  setTimeout(()=>{ 
 // console.log("out")
    if(is_all_products != "1"){
    //  console.log("not all")
                                
        $(".cfp-prod-wrapper").each(function(){
            var currel = $(this); 
            var currhndle = currel.find(".cfp-prod-handle").text();
                
             // if(prod_handle_arr.indexOf(currhndle) != -1){
          if($.inArray(currhndle, prod_handle_arr) !== -1) {
                currel.find(".cfp-prod-button").show();
                currel.parent().find(hidePrice).remove()
                //console.log("if")
                
                
                if(shop == 'butchers-sundries-kbx.myshopify.com'){
                 $(this).parent().find('form[action="/cart/add"]').hide();
                }
                else if(shop == 'dmleisure.myshopify.com'){
                  
                 $(this).prev('.product-collection__control').remove(); 
                }
            
            else if(shop == 'proofreadmywords.myshopify.com'){
                  
                 $('.cfp-prod-wrapper').parent().find('.card-body').find('.card-body-grid').find('.card-button').hide();
                }
            
                
              }else{
                currel.find(".cfp-prod-button").remove();
                currel.parent().find(hidePrice).show()
                // console.log("else")
              }

        });
    }else{    console.log('all products');
      $(".cfp-prod-button").show();
      $(hidePrice).hide()
      if(shop == 'proofreadmywords.myshopify.com'){
               $('.cfp-prod-wrapper').parent().find('.card-body').find('.card-body-grid').find('.card-button').hide();
                }
    }
},1500);
  
  //if ($("body").hasClass("template-product")) {
   if (window.location.pathname.indexOf('/products/') !== -1) { 
    curr_url_detailpge = "{{product.url}}";
    curr_title_detailpge = "{{product.title| replace: '"', "'" }}";
    curr_hundle_detailpge = "{{product.handle}}";
    curr_hundle_pid = "{{product.id}}";
    
    addtocfpbutton = '<div class="cfp-prod-wrapper-detail">'+
      '<div class="cfp-prod-url">'+curr_url_detailpge+'</div>'+
      '<div class="cfp-prod-id">'+curr_hundle_pid+'</div>'+
      '<div class="cfp-prod-title">'+curr_title_detailpge+'</div>'+
    '<div class="cfp-prod-handle">'+curr_hundle_detailpge+'</div>'+
    '<div class="cfp-prod-button">'+
    '<button type="button" class="btn button button--primary call-for-price-btn ">{{btn_name}}</button>'+
    '</div>'+
    '</div>';  
    
    if(is_all_products != "1"){ 
      //  if(prod_handle_arr.indexOf(curr_hundle_detailpge) != -1){
          if($.inArray(curr_hundle_detailpge, prod_handle_arr) !== -1) {
               $( "form" ).each(function( index ) {
                 
                 
                   getForm = $(this).attr("action");
                   if(getForm == "/cart/add"){
                   
                    $(hidePrice).remove()
                  if(Shopify.shop == "pro-stock-tennis.myshopify.com"){
                         
                     

                     $(this).find("#AddToCart--product-template").before(addtocfpbutton);
                     $('.cfp-prod-button,form[action="/cart/add"]').show();
                     $(this).find("#AddToCart--product-template").remove()
                     $(this).find(".shopify-payment-button").remove();
                     }
                     
                     else if(Shopify.shop=="dmleisure.myshopify.com"){
                       
                        
                       if($(this).closest(".product-collection").length>0)        
                         {
                           //console.log("yes i am");
                         } else
                         {
                           $(".product-page-info__text-countdown").hide();        // for dmleisure store
                       $(this).after(addtocfpbutton);
                       $(".cfp-prod-button").show();
                         $(this).remove()
                           
                           
                         }
  
                       
                        
                       
                       
                     }
                     
                     else if(Shopify.shop=="raghavendra-rathore-jodhpur.myshopify.com"){
                       
                        $('.inventory-product-row-product-template').hide();  // for raghavendra store
                       
                       $(this).after(addtocfpbutton);
                       $(".cfp-prod-button").show();
                         $(this).remove()
                       
                       
                     }
                     
                     else if(Shopify.shop=="mobileleb-com.myshopify.com"){
                     $('.stock').html("Call for Availability");  
                     $(this).after(addtocfpbutton);
                     $(".cfp-prod-button").show();
                     $(this).remove()
                       
                       
                     }
                     
                     else if(Shopify.shop=="gentrys-bbq.myshopify.com"){
                       
                      
                      
                       $(this).find('.product-page-qty').after(addtocfpbutton);   
                       $('.desc_blk_bot .qty').remove();  
                       $(".cfp-prod-button").show();  
                     
                     }
                     
                     
                     
                     
                     
                     else{
                       
                     $(this).after(addtocfpbutton);
                     $(".cfp-prod-button").show();
                     $(this).remove()
                       
                         
                     }


                   }
               });
        }else{
          
          //console.log("from here"); 
          
          $('form[action="/cart/add"]').show();
          $(hidePrice).show()
        }
    }else{console.log('all products');
      $( "form" ).each(function( index ) {
        getForm = $(this).attr("action");
      /*  if(getForm == "/cart/add"){  console.log('add');
          $(hidePrice).remove()
          $(this).after(addtocfpbutton);
          $(".cfp-prod-button").show();
          $(this).remove()
        }  */
        if(typeof(getForm)!="undefined"){
        if(getForm.indexOf("/cart/add") != -1){
          
          
          if(Shopify.shop == "delli-clean.myshopify.com"){
            
            $(hidePrice).remove()
       //   console.log("Okaygfgfgf here");
           // return false;
            $(".payment-buttons").find("button").hide()
            $('.shopify-payment-button').hide();
             $(this).before(addtocfpbutton);
          $(".cfp-prod-button").show();  
          }
          
          else{
          
          
         // console.log("Okay workds");
           $(hidePrice).remove()
          $(this).after(addtocfpbutton);
          $(".cfp-prod-button").show();
          $(this).remove()
             
          } 
           }
      }
      });
          
          
           
    }
  }
  
  
  

  
  
  $(document).on('click', '.call-for-price-btn', function (e) {
    
    
    

    
    
    
    
    
    
    
     $('.cfp-parent-wrapper').css("opacity","0");
    $('.cfp_loader').css("display","block");
     $('.text-danger').hide();
    
    
    var country_enable = "{{country_enable}}";
 // alert(country_enable);
//  var country_field  = (country_enable=="0") ?  alert("if") $('.cfp_country_field').show() :  $('.cfp_country_field').hide();
   var country_field  = (country_enable=="1") ?  $('.cfp_country_field').show()  : $('.cfp_country_field').hide()   ;
    
    
   // $('.sb_cfp')[0].reset();
  //  document.getElementsByClassName("sb_cfp").reset();
    $('.formfield').val('');
     $('.cfp_variants').empty();  //remove appended field for fresh start
        var url = window.location.href;


        $('#cfpmodal').css("display","block");
    
    //shop=window.location.hostname;
shop=Shopify.shop;
    
    if(shop!="nb-teamsports.myshopify.com")
  {
    $('.cfp_team_name_wrapper').hide();
  }
    
    var product= $(this).parent().parent().find('.cfp-prod-url').html();
    title= $(this).parent().parent().find('.cfp-prod-title').html();
    
    $('#cfp_product_name').html(title);
    
    productid= $(this).parent().parent().find('.cfp-prod-id').html();
    
    producthandle=$(this).parent().parent().find('.cfp-prod-handle').text();
    
    
    producturl=location.hostname+product;
   
   // alert(producthandle);
    
    AjaxURL = 'https://'+shop+'/products/'+producthandle+'.json';
    
   // alert(AjaxURL);
    
    var request = $.ajax({
                                          url:AjaxURL,
                                          type: "GET",
                                         
                                          dataType: "json",
                          beforeSend: function() {
                                            
                                            $('.cfp_loader').css("opacity","1");
                                        },
                                        });

                            request.done(function(productdata) {
                              
                              
                               // console.log(productdata);

                                var myJSON = JSON.stringify(productdata);

                                productdata=JSON.parse(myJSON);
                              
                              if(variants_enable=="1")
                              {
                              Create_form_fields(productdata);
                            }
                              
                             //  alert("after");
                              $('.cfp_loader').css("display","none");
                              $('.cfp-parent-wrapper').css("opacity","1");
                              
                            });
                            
                            request.fail(function(productdata) {
      
      
      $('.cfp_loader').css("display","none");
                              $('.cfp-parent-wrapper').css("opacity","1");
      
    });

    
    
    
var  translate_fields= {{translate_fields | json}};
 // console.log(translate_fields);
  
  $('#cfpname').attr('placeholder',translate_fields.placeholder_name);
  $('#cfpemail').attr('placeholder',translate_fields.placeholder_email);
  $('#cfpphone').attr('placeholder',translate_fields.placeholder_phone);
$('#cfp_country').attr('placeholder',translate_fields.select_country);
$('#cfpmessage').attr('placeholder',translate_fields.placeholder_your_msg);
$('#country_first_option').text(translate_fields.select_country);
        
    
   
    
        {% if customer %}  // auto fill form fileds if customer is logged in
        var cfp_customer_full_name="{{customer.name}}";
        var cfp_customer_email="{{customer.email}}";
        $('#cfpname').val(cfp_customer_full_name); $('#cfpemail').val(cfp_customer_email);
        {% endif %}
        
        
        

    
    });
  
  
  var span = document.getElementsByClassName("close")[0];
   // span.onclick = function() {
  $(document).on('click', '.close', function(){
        $('#cfpmodal').css("display","none");
    });
    
    
    
  
    
    $(document).on('click', '.submitReq', function(){
      
      

       
        $('.text-danger').remove();
        var email_regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        var name1 = $('#cfpname').val();
        var email = $('#cfpemail').val();
        var phone = $('#cfpphone').val();
        var countrycode_val = phone.match(/^\+\d{1,3}\d{9,15}$/);
        var message = $('#cfpmessage').val();
        var country = $('#cfp_country').val();
          var cfp_team_name = $('#cfp_team_name').val();
        var ownermail="{{email}}";
        
      //  alert(country);
        var country_enable = "{{country_enable}}";
        
        
        phone=phone.replace(/ /g,'')
      //  console.log("okay");
       // alert(phone);
        
    
        
       
      
      
      
      
      var var_Array=$('.cfp_var_data');
      
      
      
      var VariantsArray=new Array();
      
   /*   for(var i = 0; i < var_Array.length; i++){
    var Var_name=$(var_Array[i]).attr('id');
        var Var_value=$(var_Array[i]).val();
        VariantsArray[i]=new Array(); 
        VariantsArray[i]['name']=Var_name;
        VariantsArray[i]['value']=Var_value;
}
      console.log(VariantsArray);  */
      
      for(var i = 0; i < var_Array.length; i++){
    var Var_name=$(var_Array[i]).attr('id');
        var Var_value=$(var_Array[i]).val();
        var var_collection = {
            'Var_name' : Var_name,
            'Var_value' : Var_value
        };
        
         VariantsArray.push( var_collection );
}
      
      
   //   return false;
      
      
       
      
      
      
      
      var jObject={};
jObject = JSON.stringify(VariantsArray);
      
          
      if(!VariantsArray)
      {
       // VariantsArray="abcd";
      }
          
    //  return false;
      
   
  
     
      

        count_name = true;  
        if (name1.length==0) {
          $('#cfpname').after(`<span class=\'err_name text-danger\'>${name_vald}</span>`);
            count_name = false;
        } 
        if (email.length == 0) {
            $('#cfpemail').after(`<span class=\'err_email text-danger\'>${email_blank_vald}</span>`);
            count_name = false;
        } 
      else
      {
        if(!email_regex.test(email)){
            $('#cfpemail').after(`<span class=\'err_msg text-danger\'>${email_invalid_vald}</span>`);
            //  console.log("msg empty");
            count_name = false;
      }
      }
      
      

        if (message.length ==0 ) {
            $('#cfpmessage').after(`<span class=\'err_msg text-danger\'>${message_vald}</span>`);  
            //  console.log("msg empty");
            count_name = false;
        } 

        var country_code_vald_hide_shops =["joombo-co.myshopify.com","mobileleb-com.myshopify.com","portabo.myshopify.com","rp-imaging.myshopify.com","production-case.myshopify.com"];    
       
      
    
 if($.inArray(shop, country_code_vald_hide_shops) == -1)  // if shop is not present in array only then validate for mobile field
         {
      
        if (phone.length <= 9) {
            $('#cfpphone').after(`<span class=\'err_phone text-danger\'>${phone_blank_vald}</span>`);
            count_name = false;
        } else if(!countrycode_val)
        {
          $('#cfpphone').after(`<span class=\'err_phone text-danger\'>${phone_cc_vald}</span>`);
            count_name = false;
          
        }
        
        
        }
      
      
      
      
      if(country_enable=="1") 
      {
        
        if(!country)
        {
          $('#cfp_country').after(`<span class=\'err_msg text-danger\'>${country_vald}</span>`);
          count_name = false;
        }

        
      }
      
      
        if(count_name){

          
          
            $.ajax({
                url: 'https://setubridgeapps.com/call-for-price/app/src/public/submitreq',
                method: 'GET',
                data: { /*form_data*/
                    name: name1,
                    email: email,
                    phone: phone,
                    message: message,
                    productid:productid,
                    pid: producturl,
                    shop: shop,
                    senderemail: ownermail,
                  title:title ,
                  country:country,
                  cfp_team_name: cfp_team_name,
                  VariantsArray: VariantsArray
                },
                cache: false,
              beforeSend: function() {
              $('.cfp_loader').css("display","block");                            
              $('.cfp_loader').css("opacity","1");
                $('.cfp-parent-wrapper').css("opacity","0");
                
               // return false;
                                        },
                success: function (data)
                {
                  
                  $('.cfp_loader').css("display","none"); 
                  
                 // return false;
                  var shop=Shopify.shop;
                  var redirectpage="{{redirect_page}}";

                   //  console.log("success");
                    $('#cfpmodal input,#cfpmodal textarea').val(' ');
                    $('#cfpmodal .cfp-modal-body').before(`<div class="alert alert-success" style="background-color: #dff7df;padding: 10px;">${success_message}</div>`);
         
                  
                  $('.cfp-parent-wrapper').css("opacity","1");
                  $('#cfpname').val('');
                  $('#cfpphone').val('');
                   $('#cfpmessage').val('');
                  $('#cfpphone').val(''); 
                 // return false;
                    setTimeout(function(){
                        $('#cfpmodal .alert-success').remove();
                        $('#cfpmodal').hide();
                      
                      
                       var shop=Shopify.shop;
                      var is_redirect="{{is_redirect}}";
                       var redirect_page="{{redirect_page}}";
                         if(is_redirect=="1"){
                           
                           redirect_page=redirect_page.trim();
                     

                     if(redirect_page.length==0)
                     {
  
                       
                        return false;
                     }
               
                          window.open(redirect_page,"_self"); 
                    }
                        },2000);
                }
            });
        }else{
            return false;
        }
    });
  
  }
</script>
{% endif %}




