{%- capture section_settings -%}
{
  "type": {{ settings.cart_type | json }},
  "itemCount": {{ cart.item_count }},
  "drawer": true,
  "hasShippingEstimator": false
}
{%- endcapture -%}

<div id="sidebar-cart" class="Drawer Drawer--fromRight" aria-hidden="true" data-section-id="cart" data-section-type="cart" data-section-settings='{{ section_settings }}'>
  <div class="Drawer__Header Drawer__Header--bordered Drawer__Container">
      <span class="Drawer__Title Heading u-h4">{{ 'cart.general.title' | t }}</span>

      <button class="Drawer__Close Icon-Wrapper--clickable" data-action="close-drawer" data-drawer-id="sidebar-cart" aria-label="{{ 'header.navigation.close_cart' | t }}">
        {%- render 'icon' with 'close' -%}
      </button>
  </div>

  <form class="Cart Drawer__Content" action="{{ routes.cart_url }}" method="POST" novalidate>
    <div class="Drawer__Main" data-scrollable>
      {%- if settings.cart_show_free_shipping_threshold -%}
        {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}

        <div class="Cart__ShippingNotice Text--subdued">
          <div class="Drawer__Container">
            {%- if cart.total_price >= threshold_in_cents -%}
              <p>{{- 'cart.general.free_shipping' | t -}}</p>
            {%- else -%}
              {%- capture remaining_amount -%}<span><span class="wh-original-cart-total"><span class='wh-original-price'>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}</span></span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note"></span></div></span>{%- endcapture -%}
              <p>{{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}</p>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}

      {%- if cart.item_count == 0 -%}
        <p class="Cart__Empty Heading u-h5">{{ 'cart.general.empty' | t }}</p>
      {%- else -%}
        <div class="Drawer__Container">
          <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
          <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

          {% render 'cart-items' %}
        </div>
      {%- endif -%}
    </div>

    {%- unless cart.item_count == 0 -%}
      <div class="Drawer__Footer" data-drawer-animated-bottom>
        {% if settings.cart_upsell_collection != blank %}
          {% assign cart_upsell_collection = collections[settings.cart_upsell_collection] %}

          {%- capture flickity_options -%}
          {
            "prevNextButtons": false,
            "pageDots": true,
            "wrapAround": false,
            "contain": true,
            "cellAlign": "left",
            "dragThreshold": 8,
            "groupCells": true
          }
          {%- endcapture -%}

          <div class="Drawer__UpsellCollection Carousel" data-flickity-config='{{ flickity_options }}'>
            {% for product in cart_upsell_collection.products limit: settings.cart_upsell_collection_products %}
              <div class="Carousel__Cell Drawer__UpsellCollection--Item">
                <div class="CartItemWrapper">
                  <div class="CartItem">
                    <div class="CartItem__ImageWrapper AspectRatio">
                      <div class="AspectRatio" style="--aspect-ratio: {{ product.featured_image.aspect_ratio }}">
                        <img class="CartItem__Image" src="{{ product.featured_image | img_url: '240x' }}" alt="{{ product.featured_image.alt | escape }}">
                      </div>
                    </div>
                    <div class="CartItem__Info">
                      <h2 class="CartItem__Title Heading">
                        <a href="{{ product.url }}">{{ product.title }}</a>
                      </h2>
                      <div class="CartItem__Meta Heading Text--subdued">
                        <div class="CartItem__PriceList">
                          <span class="CartItem__Price Price">{{ product.first_available_variant.price | money }}
                          </span>
                        </div>
                      </div>
                      <div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
                        <div class="Drawer__UpsellCollection--FakeForm">
                          {% if product.has_only_default_variant %}
                            <input name="id" value="{{ product.first_available_variant.id }}" type="hidden">
                          {% else %}
                            <select name="id" class="DrawerUpsellSelect">
                              {% for variant in product.variants %}
                                <option value="{{ variant.id }}" {% unless variant.available %}disabled{% endunless %}>{{ variant.title }}</option>
                              {% endfor%}
                            </select>
                          {% endif %}
                          <input type="hidden" name="quantity" value="1">
                          <button type="button" class="ProductForm__AddToCart Button {% if product.available %}Button--primary{% else %}Button--secondary{% endif %} Drawer__UpsellColelction--AddToCart" data-action="add-to-cart" {% unless product.available %}disabled{% endunless %}>
                            {% if product.available %}
                              <span>{{ 'cart.upsell_collection.add_to_cart' | t }}</span>
                            {% else %}
                              <span>{{ 'cart.upsell_collection.sold_out' | t }}</span>
                            {% endif %}
                          </button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {%- capture shipping_and_taxes_notice -%}{{ 'cart.general.shipping_and_taxes_notice' | t }}{%- endcapture -%}

        {%- if settings.cart_enable_notes or shipping_and_taxes_notices != blank -%}
          {%- if settings.cart_enable_notes -%}
            {%- if cart.note == blank -%}
              <button type="button" class="Cart__NoteButton" data-action="toggle-cart-note">{{ 'cart.general.add_note' | t }}</button>
            {%- else -%}
              <button type="button" class="Cart__NoteButton" data-action="toggle-cart-note">{{ 'cart.general.edit_note' | t }}</button>
            {%- endif -%}
          {%- endif -%}

          {%- if shipping_and_taxes_notice != blank -%}
            <p class="Cart__Taxes Text--subdued">{{ shipping_and_taxes_notice }}</p>
          {%- endif -%}

          {%- if cart.cart_level_discount_applications != blank -%}
            {%- for discount_application in cart.cart_level_discount_applications -%}
              <p class="Cart__Discount">{%- render 'icon' with 'sale' -%} {{ 'cart.general.discount' | t }} ({{ discount_application.title }}): -<span>{{ discount_application.total_allocated_amount | money_without_trailing_zeros }}</span></p>
            {%- endfor -%}
          {%- endif -%}
        {%- endif -%}

        <button type="submit" name="checkout" class="Cart__Checkout Button Button--primary Button--full">
          <span>{{- 'cart.general.checkout' | t -}}</span>
          <span class="Button__SeparatorDot"></span>
          <span class=""><span class="Bold-theme-hook-DO-NOT-DELETE-comment-bold_cart_total" style="display:none !important;"></span><span class="wh-original-cart-total"><span class='wh-original-price'><span id='revy-cart-subtotal-price'>{{ cart.total_price | money_without_trailing_zeros }}</span></span></span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note"></span></div></span>
        </button>

        {%- if settings.cart_enable_notes -%}
          <div class="Cart__OffscreenNoteContainer" aria-hidden="true">
            {%- if cart.note == blank -%}
              <span class="Cart__NoteButton">{{ 'cart.general.add_note' | t }}</span>
            {%- else -%}
              <span class="Cart__NoteButton">{{ 'cart.general.edit_note' | t }}</span>
            {%- endif -%}

            <div class="Form__Item">
              <textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="3" placeholder="{{ 'cart.general.note_placeholder' | t }}" data-scrollable>{{ cart.note }}</textarea>
            </div>

            <button type="button" class="Button Button--primary Button--full" data-action="toggle-cart-note">{{ 'cart.general.save_note' | t }}</button>
          </div>
        {%- endif -%}
      </div>
    {%- endunless -%}
  </form>
</div>
