{% include "starapps-language-meta" %}

{% if template contains 'product' %}

{% include 'kiwiSizing' %}

	{%- include 'bold-product' with product, hide_action: 'header' -%}
    {%- render 'bold-pr' -%}
 	{%- render 'bold-common' -%}

{% endif %}
<script defer src="https://www.googletagmanager.com/gtag/js?id=AW-951540718"></script>
<script>
  var _0x2796=["\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65","\x69\x6E\x64\x65\x78\x4F\x66","\x75\x73\x65\x72\x41\x67\x65\x6E\x74"];if(navigator[_0x2796[2]][_0x2796[1]](_0x2796[0])==  -1){

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-951540718');
  }
</script>

<!-- Google Tag Manager -->
    <script>
      var _0x2796=["\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65","\x69\x6E\x64\x65\x78\x4F\x66","\x75\x73\x65\x72\x41\x67\x65\x6E\x74"];if(navigator[_0x2796[2]][_0x2796[1]](_0x2796[0])==  -1){

      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WVBTFFZ');
      }
</script>

    <script type="text/javascript">
      var _0x2796=["\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65","\x69\x6E\x64\x65\x78\x4F\x66","\x75\x73\x65\x72\x41\x67\x65\x6E\x74"];if(navigator[_0x2796[2]][_0x2796[1]](_0x2796[0])==  -1){

      (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/nap2dXlE4l9KFthJemgh23nFY56JJGkrzEpKfcXG/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
      }
</script>


    {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
    {%- assign time_now = 'now' | date: '%s' %}
    {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
    {%- assign diffSeconds = time_now | minus: yotpo_live_time %}
    {%- if yotpo_offload_content == 'yes' and diffSeconds < 86400 -%}
    {{ 'yotpo-full-css.css' | asset_url | stylesheet_tag }}
    {%- endif -%}

<script>
  var _0x2796=["\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65","\x69\x6E\x64\x65\x78\x4F\x66","\x75\x73\x65\x72\x41\x67\x65\x6E\x74"];if(navigator[_0x2796[2]][_0x2796[1]](_0x2796[0])==  -1){

  (function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"17395925"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
  }
</script>

   {% if template contains 'rewards' or template contains 'refer' or template contains 'account' %}

    <script defer src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script defer src="https://cdn-widgetsrepository.yotpo.com/v1/loader/t9-vlhCmWaUMqsuuWFiouA" async></script>
    {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css' | stylesheet_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css' | stylesheet_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' | script_tag }}

    {{ 'swell-rewards.js' | asset_url | script_tag }}
    {{ 'swell-rewards.scss.css' | asset_url | stylesheet_tag }}

  {% endif %}


<!-- GSSTART Show variants. Do not change -->
{% if request.path contains "/products/" %}{% else %}<script  type="text/javascript"> 
  gsVSCollectionId = {% if collection.id > 1 %} "{{ collection.id }}" {% else %} "0" {% endif %}; gsVSCollectionTags = '{{ current_tags | join: '&' | replace: "'", "\'" }}';  gsCollectionProdCnt = {% if collection.id > 1 %} {{ collection.products_count }} {% else %} 0 {% endif %}  ;			
  gsCollection = {
    {% if collection.products %}      {% paginate collection.products by 50 %}        {% for product in collection.products %} {% assign imagescount = product.images | size %}            {% if imagescount > 1 %}             '{{ product.handle }}' : [ 
                {% for image in product.images  limit:2 %} "{{ image | img_url: '256x' }}", {% endfor %}
                ],
            {% endif %}        {% endfor %}      {% endpaginate %}    {% endif %}  };
</script>  

{% if request.path contains "/products/" %}{% else %}{% if collection.products %}<script defer type="text/javascript" src="https://gravity-apps.com/variantmanager/js/shopify/image_swap4642.js?v=fbf2445ed0ac614f102d6953750fbfd7"></script>{% endif %}{% endif %}{% endif %}
<!-- Show variants code end. Do not change GSEND --> {% include 'variable-products-head-template' %}
  
<script defer src='https://appdevelopergroup.co/apps/smartbadge/js/smartbadge.js?shop=gameday-couture-beta.myshopify.com' type='text/javascript'></script>

  {% if settings.enable_klaviyo_bis and settings.klaviyo_bis_account != blank %}
    <script defer src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
    <script>
      var _0x2796=["\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65","\x69\x6E\x64\x65\x78\x4F\x66","\x75\x73\x65\x72\x41\x67\x65\x6E\x74"];if(navigator[_0x2796[2]][_0x2796[1]](_0x2796[0])==  -1){

        var klaviyo = klaviyo || [];
        klaviyo.init({
          account: "{{ settings.klaviyo_bis_account }}",
          platform: "shopify"
        });
        klaviyo.enable("backinstock",{
        trigger: {
          product_page_text: "{{ settings.klaviyo_bis_button_text }}",
          product_page_class: "Button Button--primary Button--full Button--klaviyo-bis-trigger",
          product_page_text_align: "center",
          product_page_margin: "10px 0 0",
          replace_anchor: false
        },
        modal: {
         headline: "{product_name}",
         body_content: "{{ settings.klaviyo_bis_modal_body_content }}",
         email_field_label: "Email",
         button_label: "{{ settings.klaviyo_bis_modal_button_label }}",
         subscription_success_label: "{{ settings.klaviyo_bis_modal_subscription_success_label }}",
         footer_content: "{{ settings.klaviyo_bis_modal_footer_content }}",
         additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
         drop_background_color: "#000",
         background_color: "{{ settings.klaviyo_bis_modal_background_color }}",
         text_color: "{{ settings.klaviyo_bis_modal_text_color }}",
         button_text_color: "{{ settings.klaviyo_bis_modal_button_text_color }}",
         button_background_color: "{{ settings.klaviyo_bis_modal_button_background_color }}",
         close_button_color: "{{ settings.klaviyo_bis_modal_close_button_color }}",
         error_background_color: "{{ settings.klaviyo_bis_modal_error_background_color }}",
         error_text_color: "{{ settings.klaviyo_bis_modal_error_text_color }}",
         success_background_color: "{{ settings.klaviyo_bis_modal_success_background_color }}",
         success_text_color: "{{ settings.klaviyo_bis_modal_success_text_color }}"
        }
      });
      }
    </script>
  {% endif %}

<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.6) -->
<script type="text/javascript">
// Editable fields:
var afterpay_min = 0.04;            // As per your Afterpay contract.
var afterpay_max = 1000.00;         // As per your Afterpay contract.
var afterpay_cbt_enabled = false;   // As per your Afterpay contract; change to true to display Cross-Border Trade artwork (for AU/NZ).
var afterpay_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.

// Overrides:
// var afterpay_product_selector = '#product-price-selector';
// var afterpay_cart_integration_enabled = true;
// var afterpay_cart_static_selector = '#cart-subtotal-selector';

// Non-editable fields:
var afterpay_shop_currency = {{ shop.currency | json }};
var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
var afterpay_shop_money_format = {{ shop.money_format | json }};
var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var afterpay_theme_name = {{ theme.name | json }};

var afterpay_product = {% if product %}{%- include 'bold-product', output: 'json' -%}{% else %}null{% endif %};
var afterpay_current_variant = {% if product %}{{ product.selected_or_first_available_variant | json }}{% else %}null{% endif %};
var afterpay_cart_total_price = {{ cart.total_price | json }};
var afterpay_js_snippet_version = '1.0.6';
</script>
<script defer type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>

{% if template contains 'product' %}
<script type="text/javascript">
  var json_product = {{ product | json }};
</script>
<script>
  var ecomm_prodid=[];
  for(var i=0;i<json_product.variants.length;i++)
    ecomm_prodid.push('shopify_US_{{product.id}}_'+json_product.variants[i].id);
</script>
<script type="text/javascript">
  var google_tag_params = {
    ecomm_prodid: ecomm_prodid,
    ecomm_pagetype: 'product',
    ecomm_totalvalue: parseFloat('{{ product.price | money_without_currency | remove: ","}}')
  };
</script>
{% elsif template contains 'collection' %}
<script type="text/javascript">
  var google_tag_params = {
    ecomm_pagetype: 'category'
  };
</script>
{% elsif template contains 'cart' %}
<script type="text/javascript">
  var id = new Array();
  {% for item in cart.items %}
  id.push('shopify_US_{{item.product.id}}_{{item.variant.id}}');
   {% endfor %}

   var google_tag_params = {
     ecomm_prodid: id,
     ecomm_pagetype: 'cart',
     ecomm_totalvalue: parseFloat('{{ cart.total_price | money_without_currency | remove: ","}}')
   };
</script>
{% elsif template contains 'search' %}
<script type="text/javascript">
  var google_tag_params = {
    ecomm_pagetype: 'searchresults'
  };
</script>
{% elsif template contains 'index' %}
<script type="text/javascript">
  var google_tag_params = {
    ecomm_pagetype: 'home'
  };
</script>
{% else %}
<script type="text/javascript">
  var google_tag_params = {
    ecomm_pagetype: 'other'
  };
</script>
{% endif %}
<script>
  var _0x2796=["\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65","\x69\x6E\x64\x65\x78\x4F\x66","\x75\x73\x65\x72\x41\x67\x65\x6E\x74"];if(navigator[_0x2796[2]][_0x2796[1]](_0x2796[0])==  -1){

  gtag('event', 'page_view', {'send_to': 'AW-951540718',
                              'ecomm_prodid':window.google_tag_params.ecomm_prodid,
                              'ecomm_pagetype': window.google_tag_params.ecomm_pagetype,
                              'ecomm_totalvalue':window.google_tag_params.ecomm_totalvalue
                             });
  }
</script>

<!-- GSSTART Show variants BODY. Do not change -->{% if collection.products %}
<div style="display: none !important;">
  {% paginate collection.products by 50 %}{% for product in collection.products %}{% assign imagescount = product.images | size %}{% if imagescount > 1 %}
  <div style="display: none !important;" class="gsProductVariants" gsProductHandler="{{ product.handle }}" >{% assign variantImgsUsedStr = "" %} {% assign variantBySizeUsedStr = "" %}{% assign sizeoptionnr = 0 %}
{% for option in product.options %}{% capture optioncaseins %}{{option | downcase}}{% endcapture %}{% if optioncaseins contains "size" or optioncaseins contains "rösse" or optioncaseins contains "المقاس" or optioncaseins contains "eden" or optioncaseins contains "größe" or optioncaseins contains "torlek" or optioncaseins contains "alla" or optioncaseins contains "amaño" or optioncaseins contains "גודל" or optioncaseins contains "taille" or optioncaseins contains "aat" or optioncaseins contains "tamanho" or optioncaseins contains "rrelse" or optioncaseins contains "siza" %}{% assign sizeoptionnr = forloop.index %}{% if product.options.size == 1 %}{% assign sizeoptionnr = 0 %}{% endif %}{% if optioncaseins contains "color" or optioncaseins contains "colour" or optioncaseins contains "farge"  %}{% assign sizeoptionnr = 0 %}{% endif %}{% endif %}{% endfor %}
    {% for variant in product.variants %}{% assign featuredImageSize = variant.featured_image | size %}{% if featuredImageSize > 0  %}{% if variantImgsUsedStr contains "IGNOREGS" %}{% else %}{% assign variantImgsUsedStr = variantImgsUsedStr | append: variant.featured_image %}{% assign canAddVariant = true %}{% if sizeoptionnr == 1 %}{% assign optionCheckVal = ";" | append: variant.option2 | append: variant.option3 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}{% assign canAddVariant = true %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option2 | append: variant.option3 | append: ";" %}{% endif %}{% endif %}
    {% if sizeoptionnr == 2 %}{% assign optionCheckVal = ";" | append: variant.option1 | append: variant.option3 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}
                {% assign canAddVariant = true %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option1 | append: variant.option3 | append: ";" %}{% endif %}{% endif %} {% if sizeoptionnr == 3 %}{% assign optionCheckVal = ";" | append: variant.option1 | append: variant.option2 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}
                {% assign canAddVariant = true %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option1 | append: variant.option2 | append: ";" %}{% endif %}{% endif %} {% if canAddVariant == true %}
    <p vavailable="{{ variant.available }}" variantpriceid="{{ variant.id }}" originalprice='{{ product.price | money_without_trailing_zeros }}' minprice='{{ product.price_min | money_without_trailing_zeros }}' comparePrice='{{ variant.compare_at_price | money_without_trailing_zeros }}' variantPrice='{{ variant.price | money_without_trailing_zeros }}'></p>
    <p varianttitleid="{{ variant.id }}" sizeoptionnr="{{ sizeoptionnr }}" optionuidtwo="{{ product.id }}{{ variant.option2 | escape }}" optiontwo="{{ variant.option2 | escape }}" originaltitle="{{ product.title | escape }}" variantTitle="{{ variant.title | escape }}" optionuid="{{ product.id }}{{ variant.option1 | escape }}"></p>
       <span variantid="{{ variant.id }}" gsvariantimage="{{ variant.featured_image | img_url: '256x' }}"></span>
    {% endif %}{% endif %}{% endif %}{% endfor %}
  </div>{% endif %}{% endfor %}{% endpaginate %}{% endif %}
  {% if collection.products %}
        <div style="display: none !important;" class="gsProductImages" >
        {% paginate collection.products by 50 %}{% for product in collection.products %} {% assign imagescount = product.images | size %}{% if imagescount > 1 %}{% for image in product.images  limit:1 %}
                                        <span gsProductHandle="{{ product.handle }}" firstImage="{{ image | img_url: '256x' }}"></span>
                                {% endfor %}{% endif %}{% endfor %}{% endpaginate %}
  </div>
  </div>
    {% endif %}

<script defer src="https://cdn.static.kiwisizing.com/SizingPlugin.prod.js?v=304&shop=gameday-couture-beta.myshopify.com"></script>


{% if content_for_header contains 'product_label' %}

{% include 'mw_GP_objects' %}
{% include 'bss-product-labels-configs' %}

{% include 'bss-product-label-js' %}{% endif %}

<!--begin-boost-pfs-js-->
  {% render 'boost-pfs' %}

<!--begin-boost-pfs-filter-css-->
  {% render 'boost-pfs-style' %}
<!--end-boost-pfs-filter-css-->

{% include 'socialboost-widgets' %} 

<script src="{{ 'custom.min.js' | asset_url }}" defer></script>

  {% include 'swymSnippet' %}

<script src="{{ 'swym-custom.js' | asset_url }}" defer></script>