<script>
window.mwGroupedProductsObjects = {
    product: {{ product | json }},
    cart: {{ cart | json }},
    template_name: {{ template.name | json }},
    shop: {
    domain: {{ shop.permanent_domain | json }},
    money_format : {{ shop.money_format  | json }},
    money_with_currency_format : {{ shop.money_with_currency_format  | json }},
    }
};
  
var flag = true;
var hide = function(){
  flag = false;
  $('[data-mwgp-add-to-cart]').css("margin-bottom", "20px")
  $("[data-mwgp-add-to-cart]").removeAttr("data-action");
  $("[data-mwgp-add-to-cart]").removeAttr("data-add-to-cart");
  $("[data-mwgp-add-to-cart]").removeAttr("data-btn-addtocart");
  $("[data-mwgp-add-to-cart]").removeAttr("data-js-product-button-add-to-cart");
  $("[data-mwgp-add-to-cart]").removeAttr("data-js-button-add-to-cart-clone-id");
  $("[data-mwgp-add-to-cart]").removeAttr("data-js-trigger-id");
  $("[data-mwgp-add-to-cart]").removeClass("js-product-button-add-to-cart"); 
  $(".shopify-payment-button, .buttons-group-grid-px-5, .product-page-info__dynamic-checkout, .chart-open-popup-bed").css("display", "none");
}
  
window.onload = function() { 
  setTimeout(function(){
    if($(".mw-gp__table").length && flag) {
   
      hide();
    }
  },2000);
  
  setTimeout(function(){
    if($(".mw-gp__table").length && flag) {
       debugger;
      hide();
    }
  },4000);
  
  setTimeout(function(){
    if($(".mw-gp__table").length && flag) {
       debugger;
      hide();
    }
  },6000); 
} 
</script>