{%- if product.featured_image -%}
  {%- assign variable_featured_image = product.featured_image -%}
{%- else -%}
  {%- assign variable_featured_image = full_product.featured_image -%}
{%- endif -%}

{%- if full_product -%}
  {%- assign real_product = full_product -%}
{%- else -%}
  {%- assign real_product = product -%}
{%- endif -%}

{%- if full_product -%}
  {%- assign variable_product_metafields = full_product.metafields -%}
{%- else -%}
  {%- assign variable_product_metafields = product.metafields -%}
{%- endif -%}

{%- if full_product -%}
  {%- assign product_id = full_product.id -%}
{%- else -%}
  {%- assign product_id = product.id -%}
{%- endif -%}

{%- if product.options_with_values -%}
  {%- assign variable_options_with_values = product.options_with_values -%}
{%- else -%}
  {%- assign variable_options_with_values = full_product.options_with_values -%}
{%- endif -%}

{%- if product.media -%}
  {%- assign variable_media = product.media -%}
{%- else -%}
  {%- assign variable_media = full_product.media -%}
{%- endif -%}
{% if full_product %}
  {% assign media_cursor = 0 %}
  {% if variable_featured_image == null %}
    {% assign media_cursor = 1 %}
  {% else %}
    {% for media in variable_media %}
      {% if media == variable_featured_image.src %}{% assign media_cursor = forloop.index %}{% break %}{% endif %}
    {% endfor %}
  {% endif %}
  {% assign prev_cursor = media_cursor | minus: 2 %}
  {% assign second_media = variable_media[media_cursor] | default: variable_media[prev_cursor] %}
{% else %}
  {% assign second_media = variable_media[1] %}
{% endif %}
{%- if product.featured_media -%}
  {%- assign variable_featured_media = product.featured_media -%}
{%- else -%}
  {%- assign variable_featured_media = full_product.featured_media -%}
{%- endif -%}

{%- if product.vendor -%}
  {%- assign variable_vendor = product.vendor -%}
{%- else -%}
  {%- assign variable_vendor = full_product.vendor -%}
{%- endif -%}


<div class="ProductItem {% if use_horizontal %}ProductItem--horizontal{% endif %}">
  {%- include 'bold-product' with product, hide_action: 'skip' -%}
  <div class="ProductItem__Wrapper">
    {%- comment -%}
    We are using LazySizes to efficiently choose the most appropriate image in the set. However, because internally LazySizes uses srcset, we need to make
    sure that the image sizes we offer is not larger than the max size uploaded by the merchants.
    {%- endcomment -%}
    {%- if settings.product_image_size == 'natural' or use_horizontal -%}
      {%- assign use_natural_size = true -%}
    {%- else -%}
      {%- assign use_natural_size = false -%}
    {%- endif -%}

    {%- if settings.product_show_secondary_image and second_media != blank and use_horizontal != true -%}
      {%- assign has_alternate_image = true -%}
    {%- else -%}
      {%- assign has_alternate_image = false -%}
    {%- endif -%}

    <div class="ProductItem__ImageContainer">
      <a href="{{ product.url | within: collection }}" class="ProductItem__ImageWrapper {% if has_alternate_image %}ProductItem__ImageWrapper--withAlternateImage{% endif %}">
        {%- if use_horizontal -%}
          {%- assign max_width = 125 -%}
        {%- else -%}
          {%- assign max_width = variable_featured_media.preview_image.width -%}
        {%- endif -%}

        {%- assign media_aspect_ratio = variable_featured_media.aspect_ratio | default: variable_featured_media.preview_image.aspect_ratio -%}

        <div class="AspectRatio AspectRatio--{% if use_natural_size %}withFallback{% else %}{{ settings.product_image_size }}{% endif %}" style="max-width: {{ max_width }}px; {% if use_natural_size %}padding-bottom: {{ 100.0 | divided_by: media_aspect_ratio }}%;{% endif %} --aspect-ratio: {{ media_aspect_ratio }}">
          {%- comment -%}
          IMPLEMENTATION NOTE: The alternate image (not visible by default) should be the first in the DOM, as the spinner (Image__Loader element) is
          displayed based on the immediately previously shown image.
          {%- endcomment -%}

          {%- if has_alternate_image -%}
            {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,600,800,900,1000,1200', image: second_media -%}{%- endcapture -%}

            {%- assign image_url = second_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

            <img class="ProductItem__Image ProductItem__Image--alternate Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ second_media.alt | escape }}" data-media-id="{{ second_media.id }}">
          {%- endif -%}

          {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: variable_featured_media -%}{%- endcapture -%}
          {%- assign image_url = variable_featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

          <img class="ProductItem__Image Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ variable_featured_media.alt | escape }}" data-media-id="{{ variable_featured_media.id }}">
          <span class="Image__Loader"></span>

          <noscript>
            <img class="ProductItem__Image ProductItem__Image--alternate" src="{{ second_media | img_url: '600x' }}" alt="{{ second_media.alt | escape }}">
            <img class="ProductItem__Image" src="{{ variable_featured_media| img_url: '600x' }}" alt="{{ variable_featured_media.alt | escape }}">
          </noscript>
        </div>
      </a>
      {% if show_quickshop and product.available %}
        <div class="ProductItem__QuickshopContainer">
          <button type="button" class="QuickshopProductForm__SubmitButton" data-product-url="{{ product.url | within: collection }}">
            <span class="QuickshopProductForm__SubmitButtonText">{{'product.form.quickshop' | t }}</span>
          </button>
        </div>
      {% endif %}
    </div>

    {%- if show_labels -%}
      {%- capture product_labels -%}
        {%- for tag in product.tags -%}
          {%- if tag contains '__label' -%}
            <span class="ProductItem__Label Heading Text--subdued">{{ tag | split: '__label:' | last }}</span>
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if product.available -%}
          {%- if bold_compare_at_price > bold_price -%}

          {%- endif -%}
        {%- else -%}
          <span class="ProductItem__Label ProductItem__Label--soldOut Heading Text--subdued">{{ 'product.labels.sold_out' | t }}</span>
        {%- endif -%}
      {%- endcapture -%}

      {%- if product_labels != blank -%}
        <div class="ProductItem__LabelList">
          {{ product_labels }}
        </div>
      {%- endif -%}
    {%- endif -%}

    {%- if show_product_info -%}
      <div class="ProductItem__Info {% unless use_horizontal %}ProductItem__Info--{{ settings.product_info_alignment }}{% endunless %}">
        {%- if show_vendor -%}
          <p class="ProductItem__Vendor Heading">{{ variable_vendor }}</p>
        {%- endif -%}

        <h2 class="ProductItem__Title Heading">
          <a href="{{ product.url | within: collection }}">{% render 'variable-product-title', product: product, full_product: full_product %}</a>
        </h2>

        <!-- Yotpo Star Ratings in Category pages -->
        <div class="yotpo bottomLine"
        data-product-id="{{ product_id }}">
        {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
        {%- assign time_now = 'now' | date: '%s' %}
        {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
        {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
        {%- assign yotpo_bottomline_last_updated = variable_product_metafields.yotpo.catalog_bottomline_update_time | date: '%s' %}
        {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
        {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
          {%- assign yotpo_bottomline_obsolete = false %}
        {%- else %}
          {%- assign yotpo_bottomline_obsolete = true %}
        {%- endif %}
        {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
          {{ variable_product_metafields.yotpo.catalog_bottomline }}
        {%- endif %}
        </div>
        <!-- end of Yotpo Star Ratings in Category pages -->


        {%- if show_color_swatch -%}
          {%- assign color_swatch_list = '' -%}

          {%- capture color_swatch -%}
            {%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
            {%- capture color_name -%}{{ section.id }}-{{ product_id }}{%- if full_product -%}-{{ variable_product_first_variant.id }}{%- endif -%}{%- endcapture -%}

            {%- for option in variable_options_with_values -%}
              {%- assign downcased_option = option.name | downcase -%}

              {%- if color_label contains downcased_option -%}
                {%- assign variant_option = 'option' | append: forloop.index -%}

{%- assign optName = 'options' | append: forloop.index -%}
{%- assign option_values = [optName] | default: option.values -%}
{%- for value in option_values -%}
                  {%- assign downcased_value = value | downcase -%}
                  {%- capture color_id -%}{{ section.id }}-{{ product_id }}{%- if full_product -%}-{{ variable_product_first_variant.id }}{%- endif -%}-{{ forloop.index }}{%- endcapture -%}

                  {%- for variant in real_product.variants -%}
					{%- render 'bold-variant' with variant, hide_action: 'skip' -%}
                    {%- if variant[variant_option] == value -%}
                      {%- assign variant_for_value = variant -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}

                  <div class="ProductItem__ColorSwatchItem">
                    {%- if variant_for_value.image -%}
                      {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: variant_for_value.image -%}{%- endcapture -%}
                      {%- assign variant_image_url = variant_for_value.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    {%- endif -%}

                    {%- assign color_swatch_name = value | handle | append: '.png' -%}
                    {%- assign color_swatch_image = images[color_swatch_name] -%}

                    <input class="ColorSwatch__Radio" type="radio" name="{{ color_name }}" id="{{ color_id }}" value="{{ value | escape }}" {%- if full_product and product[variant_option] == value -%}checked="checked"{%- endif -%}{% if option.selected_value == value and full_product == null %}checked="checked"{% endif %} data-variant-url="{{ variant_for_value.url }}{% if variant_for_value.image %}#Image{{ variant_for_value.image.id }}{% endif %}" {% if variant_for_value.image %}data-image-id="{{ variant_for_value.image.id }}" data-image-url="{{ variant_image_url }}" data-image-widths="[{{ supported_sizes }}]" data-image-aspect-ratio="{{ variant_for_value.image.aspect_ratio }}"{% endif %} aria-hidden="true">
                    <label class="ColorSwatch ColorSwatch--small {% if downcased_value == 'white' %}ColorSwatch--white{% endif %}" for="{{ color_id }}" style="background-color: {{ value | replace: ' ', '' | downcase }}; {% if color_swatch_image != blank %}background-image: url({{ color_swatch_image | img_url: '64x64' }}){% endif %}" title="{{ value | escape }}" data-tooltip="{{ value | escape }}"></label>
                  </div>
                {%- endfor -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endcapture -%}

          {%- if color_swatch != blank -%}
            {%- capture color_swatch_list -%}
              <div class="ProductItem__ColorSwatchList">
                {{- color_swatch -}}
              </div>
            {%- endcapture -%}
          {%- endif -%}
        {%- endif -%}

        {%- if show_price_on_hover == nil -%}
          {%- assign show_price_on_hover = settings.product_show_price_on_hover -%}
        {%- endif -%}

        {%- if show_price_on_hover and color_swatch_list != blank -%}
          {{- color_swatch_list -}}
        {%- endif -%}

        {%- if product.template_suffix != 'coming-soon' -%}
          <div class="ProductItem__PriceList {% if show_price_on_hover %}ProductItem__PriceList--showOnHover{% endif %} Heading">
            {%- if bold_compare_at_price > bold_price -%}
              <span class="ProductItem__Price Price Price--highlight Text--subdued">{{ bold_price | money_without_trailing_zeros }}</span>
              <span class="ProductItem__Price Price Price--compareAt Text--subdued">{{ bold_compare_at_price | money_without_trailing_zeros }}</span>
            {%- elsif bold_price_varies -%}
              {%- capture formatted_min_price -%}<span>{{ bold_price_min | money_without_trailing_zeros }}</span>{%- endcapture -%}
              {%- capture formatted_max_price -%}<span>{{ bold_price_max | money_without_trailing_zeros }}</span>{%- endcapture -%}
              <span class="ProductItem__Price Price Text--subdued">{{ 'collection.product.from_price_html' | t: min_price: formatted_min_price, max_price: formatted_max_price }}</span>
            {%- else -%}
              <span class="ProductItem__Price Price Text--subdued">{{ bold_price | money_without_trailing_zeros }}</span>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if show_price_on_hover == false and color_swatch_list != blank -%}
          {{- color_swatch_list -}}
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>

  {%- if use_horizontal -%}
    <a href="{{ product.url }}" class="ProductItem__ViewButton Button Button--secondary hidden-pocket">{{ 'collection.product.view_product' | t }}</a>
  {%- endif -%}
</div>
