<script type="text/javascript" src="https://d354wf6w0s8ijx.cloudfront.net/js/config.js?s=16448651&v=6i8je2p175d1y167g28rp42q&shop=gameday-couture-beta.myshopify.com" async></script>
<script type="text/javascript" src="https://d354wf6w0s8ijx.cloudfront.net/js/tracker.js?s=16448651&v=6i8je2p175d1y167g28rp42q&shop=gameday-couture-beta.myshopify.com" async></script>
<script type="text/javascript" src="https://d354wf6w0s8ijx.cloudfront.net/js/init.js?s=16448651&v=6i8je2p175d1y167g28rp42q&shop=gameday-couture-beta.myshopify.com" async></script>

{% comment %} include if theme-migrations assets file exists {% endcomment %}
{% capture the_snippet_content %}{% render 'sparq-theme-migration' %}{% endcapture %}
{% unless the_snippet_content contains "Liquid error" %}
  {% render 'sparq-theme-migration' %}
{% endunless %}
