{% assign product_collection = product.collections.first %}
{% assign current_product = product.handle %}
{% assign popup_status = "0" %}

{% assign wiser_template = template %}
{% assign wiser_recom_load = "0" %}
{% if  wiser_template == 'index' and shop.metafields.evmWiser.index == "true" %}
{% assign wiser_recom_load = "1" %}
{% elsif wiser_template contains "product" %}
{% assign wiser_recom_load = "1" %}
{% elsif  wiser_template == 'collection' and shop.metafields.evmWiser.collection== "true" %}
{% assign wiser_recom_load = "1" %}
{% elsif  wiser_template == 'cart' and shop.metafields.evmWiser.cart == "true" %}
{% assign wiser_recom_load = "1" %}
{% elsif  wiser_template == '404' and shop.metafields.evmWiser.notfound == "true" %}
{% assign wiser_recom_load = "1" %}
{% elsif  wiser_template == 'search' and shop.metafields.evmWiser.search == "true" %}
{% assign wiser_recom_load = "1" %}
{% else %}
{% if shop.metafields.evmWiser.other == "true" %}
{% assign wiser_recom_load = "1" %}
{% endif %}
{% endif %}

{% if popup_status == "1" %}
{% assign wiser_recom_load = "1" %}
{% endif %}

{% if wiser_recom_load == "1" %}
<script  src="https://wiser.expertvillagemedia.com/assets/js/wiser_recom.js" evm-ws-data-popup="{{popup_status}}" data-maincollection-id="{{collection.id}}" data-productid="{{product.id}}" data-collectid="{% if product_collection %}{{ product_collection.id }}{% endif %}" data-page="{{template}}" data-shop-id="gameday-couture-beta.myshopify.com"></script>
{% endif %}
<script>
{% if wiser_template contains "product" %}
  var current_productid= "{{ product.id }}";  
  var evmVariantDetails = [];
  var evmCollectionsDetails = [];
  var evmImageDetails = [];
  {% for variant in product.variants %}
    evmVariantDetails.push({ 
      id : "{{variant.id}}",
      title : "{{variant.title}}",
      price : "{{ variant.price  | divided_by: 100.00 }}",
      inventory_policy : "{{ variant.inventory_policy }}",
      compare_at_price : "{{ variant.compare_at_price  | divided_by: 100.00 }}",
      inventory_quantity : "{{ variant.inventory_quantity }}",
      image : "{{ variant.featured_media | img_url : 'master' }}"
   });
  {% endfor %}
  {% for collection in product.collections %}
    evmCollectionsDetails.push({ 
      id : "{{collection.id}}",
      handle : "{{collection.handle}}",
      title : "{{collection.title}}",
    }); 
  {% endfor %}
  {% for image in product.images %}
    evmImageDetails.push({ 
      src : "{{ image.src | img_url : 'master' }}",
    }); 
  {% endfor %}  
  if(localStorage.getItem("wi_related_browse")==undefined){
      var evmproductIds = [];
      evmproductIds.push(current_productid);
      var evmProductDetails = {
          pdetails: []
      };  
      evmProductDetails.pdetails.push({ 
          id : "{{product.id}}",
          title : "{{product.title}}",
          handle : "{{product.handle}}",
          variants : evmVariantDetails,
          images : evmImageDetails,
          image : "{{ product.featured_image  | img_url : 'master' }}",
          vendor : "{{ product.vendor }}",
          published_at : "{{ product.published_at }}",
          collections : evmCollectionsDetails,

      });
  }else{
      var evmproductIds = localStorage.getItem("wi_related_browse");
      evmproductIds = JSON.parse(evmproductIds);
      
      var wi_recent_products = localStorage.getItem("wi_recent_products");
      var evmProductDetails = JSON.parse(wi_recent_products);
    
      var wiser_total = evmproductIds.length;
      
      if(wiser_total == 20){
        var productdetail_index = evmProductDetails.pdetails.findIndex(function(item, i){
          return item.id === evmproductIds[0];
        });
        
        evmProductDetails.pdetails.splice(productdetail_index, 1);
        evmproductIds.splice(0, 1);
      }
      var evmindex = evmproductIds.indexOf(current_productid);
      if(evmindex == -1)
      {
          evmproductIds.push(current_productid);
          evmProductDetails.pdetails.push({ 
              id : "{{product.id}}",
              title : "{{product.title}}",
              handle : "{{product.handle}}",
              variants : evmVariantDetails,
              images : evmImageDetails,
              image : "{{ product.featured_image  | img_url : 'master' }}",
              vendor : "{{ product.vendor }}",
              published_at : "{{ product.published_at }}",
              collections : evmCollectionsDetails,

          });
      }else{
          evmproductIds.splice(evmindex, 1); 
          //evmproductIds[evmindex] = current_productid ;
        evmproductIds.push(current_productid);  
      } 
  }
  if(evmproductIds.length > 0){
    localStorage.setItem("wi_related_browse",JSON.stringify(evmproductIds));
    localStorage.setItem("wi_recent_products",JSON.stringify(evmProductDetails));
  } 
{% endif %}
{% if customer  %}
  localStorage.setItem("wi_customer","loggedin");
{% else %}  
  localStorage.setItem("wi_customer","login_now");
{% endif %}
</script>
 
