<script>
  function getProductIds() {
    {% assign uniqueProductIdsArray = cart.items | map: 'product_id'| join: ", "  %}
    {% assign quantitiesArray = cart.items | map: 'quantity'| join: ", "  %}
    {% assign priceArray = cart.items | map: 'original_price'| join: ", " %}
    return { 
      "product_ids" : [{{ uniqueProductIdsArray }}], 
      "quantity": [{{ quantitiesArray }}], 
      "price": [{{ priceArray }}]
    }
  }
</script>
<!-- Intelistyle Element -->
<div class="intelistyle" style="width: 75%; margin:auto; display:flow-root"></div>
<script type="text/javascript">
  const productIds = (function(windowV, doc, tagName, scriptPath) {
    const allProductIds = getProductIds()
    windowV[scriptPath] = windowV[scriptPath] || []
    var targetElem = doc.getElementsByTagName(tagName)[0],
        newElem = doc.createElement(tagName)
    newElem.defer = true;
    newElem.src =
       'https://intelistyle-scripts.s3-eu-west-1.amazonaws.com/' + scriptPath
    targetElem.parentNode.insertBefore(newElem, targetElem)
    return allProductIds
  })(window, document, 'script', 'shopify/gameday-couture-beta-myshopify-basket.js',getProductIds)
</script>
<!-- End Intelistyle Element -->
