<!--LH-SECTION-->
<section id="" data-section-id="yz9wpqgmioo" data-section="instagram-8" data-dev="thocuong" data-lh-page-id="315" data-lh-page-name="Roise" data-layouthub="section">  
 
<section class="lh-wrapper lh-wild_instagram" data-display-info="no">
 <div class="lh-container-fluid">
   <div class="lh-row">
     <div class="lh-col-md-12">
       <include data-live-show_user data-live-limit data-live-tag_instagram data-live-token_instagram data-live-token_instagram data-live-show_like_cmt data-name="instagram" data-id="1">  
 

<div class="lh-wild_instagram-wrapper" data-show-username="yes">   
          <div class="" id="lh-insta-box"></div>   
          <div class="lh-instagram-info">
             <div class="lh-wrap-user yes">
               <div class="lh-instagram-content">
                   <img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'yz9wpqgmioo_icons8-instagram.svg' | asset_url }}" alt="icon instagram" class="lh-lazy"/>
                  <div class="lh-instagram-info-item">
                     <h3  data-lhi="title">Follow us</h3>
                      <a href="" class="lh-btn-user">
                      </a>
                  </div>
               </div>
             </div>
          </div>       
</div>

 
  </include></div>
   </div>
 </div>
</section><!--/LH-SECTION-->{%schema%}
{
    "name": "Instagram",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda5e5080a39372c17589b3)"
        }
    ],
    "presets": [
        {
            "name": "Instagram",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "yz9wpqgmioo": {}
        }
    }
}
{%endschema%}