<!--LH-SECTION-->
<section id="" data-section-id="8e6gqusbx9j" data-section="sliders" data-dev="le-vi" data-lh-page-id="174" data-lh-page-name="Homepage - Soho" data-layouthub="section">  
 
<div class="lh-hero">
	<div class="lh-container-fluid">
		<include data-live-slide_items data-live-loop data-live-auto data-live-nav data-live-dots data-live-time data-live-slide_items__active data-live-slide_items__active data-name="slide" data-id="1">  
 <div class="lh-row">
	<div class="owl-slider owl-carousel owl-theme">
			 <div class="item">
				<div class="lh-overlay no"></div>
				<div class="lh-item-content" style="background: #ffffff url(https://cdn.shopify.com/s/files/1/1644/8651/t/249/assets/carousel-desktop.jpg?v=1608141541847) center center/cover no-repeat scroll">
					<div class="lh-container">
						<div class="lh-txt lh-large">
							<div class="lh-heading lh-left lh-light">
								<h5 class="lh-subtitle"  data-lhi="slide_items[0]sub_title" data-lhis="slide_items-sub_title"></h5>
								<h2 class="lh-title"  data-lhi="slide_items[0]title" data-lhis="slide_items-title"></h2>
								<p class="lh-desc"  data-lhi="slide_items[0]desc" data-lhis="slide_items-desc"></p>
								<div class="lh-btn"  data-lhi="slide_items[0]button" data-lhis="slide_items-button"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			 
	</div>
</div>

 


  </include></div>
</div>
  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Sliders",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda61dad5d63674c2146522)"
        }
    ],
    "presets": [
        {
            "name": "Sliders",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "8e6gqusbx9j": {}
        }
    }
}
{%endschema%}