<!--LH-SECTION-->
<section id="" data-section-id="0bvozgfebd24" data-section="sale-programs" data-dev="le-vi" data-lh-page-id="174" data-lh-page-name="Homepage - Soho" data-layouthub="section">  
 
<div class="lh-container">
      <div class="content">
        <div class="lh-row no-gutter ">
            <div class="lh-col-item lh-col-md-6">
                <div class="lh-row no-Gutter">
                    <div class="lh-item lh-col-md-8 order_first">
                      <a href="#"  data-lhi="newitems[0]image" data-lhis="newitems-image"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'0bvozgfebd24_img-bner-1-2.jpg' | asset_url }}" alt="Banner" class="lh-lazy hub-img"/></a>
                    </div>
                    <div class="lh-item lh-col-md-4" style="background: #ffb763">
                      <div class="lh-text-content lh-dark">
                        <h5 class="lh-sub-title"  data-lhi="newitems[0]sub_title" data-lhis="newitems-sub_title">up to</h5>
                        <span class="lh-persent"  data-lhi="newitems[0]persent" data-lhis="newitems-persent">50%</span>
                        <span class="lh-subtext"  data-lhi="newitems[0]sub_text" data-lhis="newitems-sub_text">Off</span>
                        <p class="lh-text"  data-lhi="newitems[0]text" data-lhis="newitems-text">Winter Tops</p>
                      </div>
                    </div>
                </div>  
            </div>
           <div class="lh-col-item lh-col-md-6">
                <div class="lh-row no-Gutter">
                    <div class="lh-item lh-col-md-8 order_first">
                      <a href="#"  data-lhi="newitems[1]image" data-lhis="newitems-image"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'0bvozgfebd24_img-bner-2-2.jpg' | asset_url }}" alt="Banner" class="lh-lazy hub-img"/></a>
                    </div>
                    <div class="lh-item lh-col-md-4" style="background: #87cad9">
                      <div class="lh-text-content lh-dark">
                        <h5 class="lh-sub-title"  data-lhi="newitems[1]sub_title" data-lhis="newitems-sub_title">up to</h5>
                        <span class="lh-persent"  data-lhi="newitems[1]persent" data-lhis="newitems-persent">30%</span>
                        <span class="lh-subtext"  data-lhi="newitems[1]sub_text" data-lhis="newitems-sub_text">Off</span>
                        <p class="lh-text"  data-lhi="newitems[1]text" data-lhis="newitems-text">Winter Bags</p>
                      </div>
                    </div>
                </div>  
            </div>
           
        </div>
        
      </div>
</div>
  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Sale Programs",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda5e5080a39372c17589b3)"
        }
    ],
    "presets": [
        {
            "name": "Sale Programs",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "0bvozgfebd24": {}
        }
    }
}
{%endschema%}