<!--LH-SECTION-->
<section id="" data-section-id="h9i9q8w9l26" data-section="product-list" data-dev="anh-tu" data-lh-page-id="971" data-lh-page-name="Bagi - Sales Page" data-layouthub="section">  
  

<div class="lh-collection-slide" data-money-format={{shop.money_format | url_encode }}>
    <div class="lh-heading">
        <h3  data-lhi="pl_heading" data-lh-lang></h3>
    </div>
	<div class="lh-collection-wrapper n_ellipsis" data-hub-attr-state="class%3D%22lh-collection-wrapper%20%257B%253A%257Bsection.settings.name_product%257D%253A%257D%22"  data-hub-attr-name_product >
		<include data-live-use_swatch data-name="product-tabs" data-id="1">  
 <div class="lh-container lh-collection-slides" data-money-format="{{shop.money_format | url_encode }}">
	<div class="">
		<div class="lh-collection-heading">
			<div class="lh-collection-heading_tab">
				<div class="lh-title-tab">
				<ul>
					 
						 
							{% assign c = collections['may-collection'] %}
						 
						<li data-target="{{c.handle}}-0" class="lh-item-title active">
							<a href="javascript:void(0)">{{c.title}}</a>
						</li>
					 
				</ul>
			</div></div>
		</div>
	</div>
	<div class="" data-hub-attr-state="class%3D%22%257B%253A%257Bsection.settings.use_swatch%257D%253A%257D%22"  data-hub-attr-use_swatch >
		{% assign limit = 6%}
			<div class="collection-group">
				
				<div class="lh-wrap-tab">
					  
							{% assign c = collections['may-collection'] %}
						 
<div class="lh-item-collection {{c.handle}}-0 active">
							<div class="js-product-list lh-row">
								{% for product in c.products limit:limit %}
									<div class="lh-collection-item lh-col-md-4">
										<div class="lh-collection-thumb">
											<a class="lh-ctimg" href="{{product.url | within: collection}}">
												 
													<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{product.featured_image | img_url : '270x270_crop_center'}}" alt="{{product.title}}" class="lh-lazy"/>
													{% if product.images.size > 1 %}
													<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{product.images[1] | img_url : '270x270_crop_center'}}" class="lh-lazy hover-image" alt="{{product.title}}"/>
													{% else %}
													<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{product.featured_image | img_url : '270x270_crop_center'}}" class="lh-lazy hover-image" alt="{{product.title}}"/>
													{% endif %}
												 
											</a>
											<div class="lh-icon-features">
													{%- capture wishlist_content -%}
													<a href="javascript:void(0)" class="lh-icon-action lh-add-wishlist">
													<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'h9i9q8w9l26_heart.svg' | asset_url }}" alt="Images Icon" class="lh-lazy lh-icon"/>
													<span class="lh-tooltip"   data-lhi="wl_text" data-lh-lang>{{'h9i9q8w9l26.lh_5v9_text' | t }}</span>
													</a>
													{%- endcapture -%}
													{%- render 'layouthub_wishlist', wishlist_content:wishlist_content, wishlist_type: 'other',product: product -%}

													<div class="lh-icon-action lh-quick-view">
														{%- capture quickview_content -%}
	
														<a href="javascript:void(0)">
															<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'h9i9q8w9l26_eye.svg' | asset_url }}" alt="Images Icon" class="lh-lazy lh-icon"/>
															<span class="lh-tooltip"   data-lhi="qv_text" data-lh-lang>{{'h9i9q8w9l26.lh_5l1_text' | t }}</span>
														</a>
														{%- endcapture -%}
														{%- render 'layouthub_quickview', quickview_content: quickview_content, product: product -%}
													</div>
													<div class="product-buttons">
													{% if product.available %}
														{% if product.variants.size > 1 %}
														<div class="add-to-cart-btn">
															<a class="lh-icon-action" href="{{ product.url | within: collection }}"  data-pid="{{product.id}}">
																<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'h9i9q8w9l26_cart.svg' | asset_url }}" alt="Images Icon" class="lh-lazy lh-icon"/>
																<span class="lh-tooltip"   data-lhi="quickshop_text" data-lh-lang>{{'h9i9q8w9l26.lh_cyls4d_text' | t }}</span>
															</a>
														</div>
														{% else %}
														<div class="add-to-cart-btn">
															<a class="lh-icon-action" href="/cart/add/{{product.variants.first.id}}"  data-pid="{{product.id}}">
																<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'h9i9q8w9l26_cart.svg' | asset_url }}" alt="Images Icon" class="lh-lazy lh-icon"/>
																<span class="lh-tooltip"   data-lhi="addcart_text" data-lh-lang>{{'h9i9q8w9l26.lh_w8inz3_text' | t }}</span>
															</a>
														</div>
														{% endif %}
													{% else %}
													<div class="add-to-cart-btn">
														<a class="lh-icon-action" href="{{ product.url | within: collection }}" data-pid="{{product.id}}">
															<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'h9i9q8w9l26_cart.svg' | asset_url }}" alt="Images Icon" class="lh-lazy lh-icon"/>
															<span class="lh-tooltip"   data-lhi="quickshop_text" data-lh-lang>{{'h9i9q8w9l26.lh_cyls4d_text' | t }}</span>
														</a>
													</div>
													{% endif %}
												</div>
											</div>
												<div class="lh-product-badges">
													{% if product.available == false %}
													<span class="lh-sold-out"   data-lhi="trans_soldout_text">Sold out</span>
													{% else %}
														{% if  product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
															{% assign onehundred = 100 %}
															<span class="lh-onsale"   data-lhi="trans_text_sale">Sale</span>

															{% elsif product.compare_at_price_varies %}
																{% assign onehundred = 100 %}
																<span class="lh-onsale">-{{ product.compare_at_price_max | minus: product.price | times: 100 | divided_by: product.compare_at_price_max | round: 2}}%</span>
															{% endif%}
														{%   if product.tags contains 'new' %}
															<span class="lh-hot"   data-lhi="trans_new_text">New</span>
														{% endif %}
													{% endif %}
												</div>
										</div>
										<div class="lh-collection-info">
											<div class="lh-title-wrap ">
												<div class="lh-product-title">
													<a href="{{product.url | within: collection}}">
													  <span class="underline">{{product.title}}</span>
													</a>
												</div>
											</div>
											<div class="lh-product-variant">
												<div class="lh-product-action">
													<div class="lh-price">
														{% if  product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
														<del class="lh-product-compare-price">{{product.compare_at_price_max | money}}</del>
														{% endif %}
														<span class="lh-cost">{{product.price | money}}</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					 
				</div>
			</div></div>
</div>

   </include></div>
</div>


  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Product list",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda61dad5d63674c2146522)"
        }
    ],
    "presets": [
        {
            "name": "Product list",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "h9i9q8w9l26": {
                "lh_5v9_text": "Wishlist",
                "lh_5l1_text": "Quick view",
                "lh_cyls4d_text": "Quick shop",
                "lh_w8inz3_text": "Add to cart"
            }
        }
    }
}
{%endschema%}