<!--LH-SECTION-->
<section id="" data-section-id="25m151w3n0g" data-section="sliders-2" data-dev="le-vi" data-lh-page-id="230" data-lh-page-name="Homepage - Gent" data-layouthub="section">  
  


<div class="lh-hero">

	<div class="lh-container-fluid">

		<include data-live-slide_items data-live-font_size data-live-loop data-live-auto data-live-nav data-live-dots data-live-time data-live-slide_items__active data-live-slide_items__active data-name="slide" data-id="1">  
 <div class="lh-row">
	<div class="owl-slider owl-carousel owl-theme">
			 <div class="item">
				<div class="lh-overlay no" data-hub-attr-state="class%3D%22lh-overlay%20%22"   data-hub-attr-slide_items_0_overlay="slide_items[0]overlay" data-lhis="slide_items-overlay" ></div>
				<div class="lh-item-content" style="background: #ffffff url(https://cdn.shopify.com/s/files/1/1644/8651/t/249/assets/carousel-desktop.jpg?v=1608141541305) center center/cover no-repeat scroll" data-hub-attr-state="class%3D%22lh-item-content%22%20style%3D%22background%3A%20%22"   data-hub-attr-slide_items_0_bg="slide_items[0]bg" data-lhis="slide_items-bg" data-lh-image-helper="section.settings.slide_items[0]bg"bg">
					<div class="lh-container">
						<div class="lh-txt lh-large" data-hub-attr-state="class%3D%22lh-txt%20%257B%253A%257Bsection.settings.font_size%257D%253A%257D%22"  data-hub-attr-font_size >
							<div class="lh-heading lh-center lh-light" data-hub-attr-state="class%3D%22lh-heading%20%20%22"   data-hub-attr-slide_items_0_align="slide_items[0]align" data-lhis="slide_items-align"   data-hub-attr-slide_items_0_text_color="slide_items[0]text_color" data-lhis="slide_items-text_color" >
								<h2 class="lh-title"  data-lhi="slide_items[0]title" data-lh-lang data-lhis="slide_items-title"></h2>
								<p class="lh-desc"  data-lhi="slide_items[0]desc" data-lh-lang data-lhis="slide_items-desc"></p>
								<div class="lh-btn"  data-lhi="slide_items[0]button" data-lh-lang data-lhis="slide_items-button"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			 
	</div>
</div>

 


  </include></div>

</div>

  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Sliders",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda61dad5d63674c2146522)"
        }
    ],
    "presets": [
        {
            "name": "Sliders",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "25m151w3n0g": {}
        }
    }
}
{%endschema%}