<!--LH-SECTION-->
<section id="" data-section-id="TzmdKUke8j" data-section="product-grid-4" data-dev="nguyen-minh" data-lh-page-id="781" data-lh-page-name="Kids Clothing - Salepage" data-layouthub="section">  
  
 

<div class="lh-collection-slide lh-2mb-no" data-money-format="{{shop.money_format | url_encode }}" data-hub-attr-state="class%3D%22lh-collection-slide%20lh-2mb-%257B%253A%257Bsection.settings.s2m%257D%253A%257D%22%20data-money-format%3D%22%7B%3A%7Bsection.liquid.money_format%7D%3A%7D%22"  data-hub-attr-s2m >
  <div class="lh-container">
    <div class="lh-heading">
      <h3  data-lhi="heading" data-lh-lang>{{'TzmdKUke8j.heading' | t }}</h3>
    </div>
  </div>
	<div class="lh-collection-wrapper n_ellipsis" data-hub-attr-state="class%3D%22lh-collection-wrapper%20%257B%253A%257Bsection.settings.name_product%257D%253A%257D%22"  data-hub-attr-name_product >
    {%- assign tpl =  template | replace: '.', ' ' | truncatewords: 1, '' | handle  -%}
			{%- if tpl != 'collection' and collection == blank -%}
				 
					{% assign collection = collections['may-collection'] %}
				 
			{%- endif -%}
			{% assign limit = 8 %}
			{% assign size = collection.all_products_count %}{%- assign color_names = '' | split: ',' -%}
			{%- assign color_names_downcase = '' | split: ',' -%}
			{%- assign color_values = '' | split: ','  -%}
			{%- if shop.metafields.layouthub and shop.metafields.layouthub.colors and shop.metafields.layouthub.colors contains '|' -%}
				{% assign colors = shop.metafields.layouthub.colors | split: '|' %}
				{%- assign color_names = colors | first | strip | split: ',' -%}
				{%- assign color_names_downcase = colors | first | strip | downcase | split: ',' -%}
				{%- assign color_values = colors | last | strip | split: ',' -%}
			 {%- endif -%}<include data-live-viewmore data-live-trans_soldout_text data-live-image_size data-live-image_size data-live-trans_unavai_text data-name="product-tabs" data-id="1">  
 
<div class="lh-container lh-collection-slides" data-money-format="{{shop.money_format | url_encode }}">
	<div class="lh-tac lh-wrapper">
    <div class="collection-group">
					<div class="lh-wrap-tab">
							<div class="lh-item-collection">
								<div class="lh-row ">
									{% for product in collection.products limit: limit %}
										<div class="lh-col-md-3">
											<div class="lh-collection-item">
												<div class="lh-collection-thumb">
													<a class="lh-tl" href="{{product.url | within: collection}}">
														 
																<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{product.featured_image | img_url : '270x360_crop_center'}}" alt="{{product.title}}" class="lh-lazy"/>
															{% if product.images.size > 1 %}
																<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{product.images[1] | img_url : '270x360_crop_center'}}" class="lh-lazy hover-image" alt="{{product.title}}"/>
															{% else %}
																<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{product.featured_image | img_url : '270x360_crop_center'}}" class="lh-lazy hover-image" alt="{{product.title}}"/>
															{% endif %}
														 
													</a>
													<div class="lh-product-buttons" >
														{%- capture quickview_content -%}
															<a href="javascript:;"   data-lhi="qv_text" data-lh-lang>{{'TzmdKUke8j.lh_5l1_text' | t }}</a>
														{%- endcapture -%}
														{%- render 'layouthub_quickview', quickview_content: quickview_content, product: product -%}
													</div>
													{% assign first_variant = product.selected_or_first_available_variant %}
													<div class="lh-product-badges" style="display: none">

														{% if first_variant.available == false %}
															<span class="lh-sold-out" data-lni="trans_soldout_text"  data-lhi="trans_soldout_text" data-lh-lang>{{'TzmdKUke8j.lh_rivarn_text' | t }}</span>
														{% else %}
															{% if first_variant.price < first_variant.compare_at_price %}
															<span class="lh-onsale"   data-lhi="trans_text_sale" data-lh-lang>{{'TzmdKUke8j.lh_k4d9uk_sale' | t }}</span>
															{% else %}
															<span class="lh-onsale" style="display: none" ><text  data-lhi="trans_text_sale" data-lh-lang>{{'TzmdKUke8j.lh_k4d9uk_sale' | t }}</text> -0%</span>
															{% endif %}
															{%- for tag in product.tags -%}
																	{%- if tag == 'new' -%}
																		<span class="lh-hot"   data-lhi="trans_new_text" data-lh-lang>{{'TzmdKUke8j.lh_rv7qtl_text' | t }}</span>
																		{%- break -%}
																	{%- endif -%}
															{%- endfor -%}
														{% endif %}
													</div>
												</div>
												<div class="lh-collection-info">
													<div class="lh-category">
														<a href="{{product.collections.first.url}}">{{product.collections.first.title}}</a>
													</div>
													<div class="lh-title-wrap ">
														<div class="lh-product-title">
															<a href="{{product.url | within: collection}}">{{product.title}}</a>
														</div>
													</div>
													<div class="lh-product-variant">
														<div class="lh-product-action">
															<div class="lh-price">
																<ins class="lh-product-price">{{first_variant.price | money}}</ins>
																{% if first_variant.compare_at_price > 0 and first_variant.compare_at_price > first_variant.price %}
																<del class="lh-product-compare-price">{{first_variant.compare_at_price | money}}</del>
																{% endif %}
															</div>
														</div>
													</div>
													 		
													 
													{% assign random = "1608147347179" %}
													<form class="lh-product-swatch" action="/cart/add" method="get" id="lh-form-swatch-{{product.id }}-{{random}}" target="_blank">
														<input type="hidden" name="id" value="{{product.selected_or_first_available_variant.id}}">
														<input type="hidden" name="quantity" value="1">
														{% if product.variants.size >= 1 %}
															<div class="lh-block_variants" id="lh-product-select-{{ product.id }}-{{random}}">
																{% for product_option in product.options_with_values %}
																	{% assign style_variant = 'tag' %}
																	{% assign isImage = "no" %}
																	{% assign showValue = "no" %}
																	 
																		{% assign option_name = product_option.name | downcase %}
																		{% assign swatch_name = 'color' %}
																		{%- if option_name == 'color' -%}
																			{% assign isImage = 'no' %}
																			{% assign showValue = 'no' %}
																			{% assign style_variant = 'circle' %}
																			{%- if style_variant == 'circle' or style_variant == 'square' -%}
																				{% assign option_index = 'option' | append: forloop.index %}
																			{%- endif -%}
																		{%- endif -%}
																	 
																		{% assign option_name = product_option.name | downcase %}
																		{% assign swatch_name = 'size' %}
																		{%- if option_name == 'size' -%}
																			{% assign isImage = '' %}
																			{% assign showValue = '' %}
																			{% assign style_variant = 'tag' %}
																			{%- if style_variant == 'circle' or style_variant == 'square' -%}
																				{% assign option_index = 'option' | append: forloop.index %}
																			{%- endif -%}
																		{%- endif -%}
																	 
																		{% assign option_name = product_option.name | downcase %}
																		{% assign swatch_name = 'material' %}
																		{%- if option_name == 'material' -%}
																			{% assign isImage = '' %}
																			{% assign showValue = '' %}
																			{% assign style_variant = 'tag' %}
																			{%- if style_variant == 'circle' or style_variant == 'square' -%}
																				{% assign option_index = 'option' | append: forloop.index %}
																			{%- endif -%}
																		{%- endif -%}
																	 
																	{%- if product_option.name != 'Title' -%}
																			<div class="lh-block-variants">
																				<div class="lh-items-variants">
																				<ul class="lh-content__variants_list" data-variant="{{product_option.name}}" data-target="lh-product-select-{{ product.id }}-{{random}}-option-{{forloop.index0}}" data-style={{style_variant}} data-use-image="{{isImage}}" data-option-index="{{forloop.index0}}">
																				{% for value in product_option.values %}
																					<li class="lh-swatch-on-grid {% if product_option.selected_value == value %}active{% endif %}">
																						{% assign lh_bg = '#dddddd' %}
																						{% assign is_color_image = '' %}
																						<!-- SET BACKGROUND SWATCH TYPE COLOR -->
																						{%- if style_variant == 'circle' or style_variant == "square" -%}
																							{%- if isImage == 'no' -%}
																								 {% assign value_down = value | downcase %}
																								{%- if color_names_downcase contains value_down -%}
																									{% assign is_color_image = 'lh-color-image' %}
																									{%- for color in color_names_downcase %}
																										{%- assign lh_bg =  color_values[forloop.index0] -%}
																										{%- if color == value_down -%}
																											{%- break -%}
																										{%- endif -%}
																									{%- endfor -%}
																								{%- endif -%}
																							<!-- SET BACKGROUND SWATCH TYPE IMAGE -->
																							{%- elsif isImage == 'yes' -%}
																								{%- for var in product.variants -%}
																									{%- if var[option_index] == value -%}
																										{% assign is_color_image = 'lh-color-image' %}
																											{%- if var.featured_image != null -%}
																												{% assign lh_image = var | img_url: "120x120", crop: 'center' %}
																												{% assign lh_bg = 'url(' | append: lh_image | append: ') center center/cover no-repeat' %}
																												{%- break -%}
																											{%- endif -%}
																									{%- endif -%}
																								{%- endfor -%}
																							{%- endif -%}
																						{%- endif -%}
																						{% assign use_bg = false %}
																						{%- if style_variant == 'circle' or style_variant == 'square' -%}
																							{% assign use_bg = true %}
																						{%- endif -%}
																						<span class="lh-swatch {{is_color_image}}" data-value="{{value | escape }}" title="{{value | escape}}">
		 
																							{%- if use_bg  -%}
																								<span class="lh-swatch-bg" style="background : {{lh_bg}}">
		 
																								</span>
																								{%- if showValue == "yes" -%}
																									<span class="lh-swatch-title">{{ value }}</span>
																								{%- endif -%}
																							{%- else  -%}
																								<span class="lh-swatch-title">{{ value }}</span>
																							{%- endif -%}
																						</span>
																					</li>
																				{% endfor %}
																				</ul>
																			</div>
																			</div>
																	{%- endif -%}
																{% endfor %}
															</div>
														{% endif %}
														<script id="lh-swatch-json-{{product.id}}-{{random}}" type="application/json">
														{% assign product = item %}
														{%- if true -%}
																{
																"id": {{product.id}},
																"title": {{product.title | json}},
																"handle": {{product.handle | json}},
																"price": {{product.price| json}},
																"price_min": {{product.price_min| json}},
																"price_max": {{product.price_max| json}},
																"available": {{product.available | json}},
																"price_varies": {{product.price_varies| json}},
																"compare_at_price": {{product.compare_at_price| json}},
																"compare_at_price_min": {{product.compare_at_price_min| json}},
																"compare_at_price_max": {{product.compare_at_price_max| json}},
																"compare_at_price_varies": {{product.compare_at_price_varies| json}},
																"variants":  {{product.variants  | json}},
																"featured_image": {{product.featured_image | json}},
																"options": [
																{%- for option in product.options -%}
																{{ option | json}}{%- if forloop.last == false -%},{%- endif -%}
																{%-endfor -%}
																]
																}
																{%- endif -%}
															</script>
													</form>
												 																							
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
					</div>
				</div><div class="lh-more-btn">
      <a href="{{collection.url | default: '#'}}"  data-lhi="viewmore">See more</a>
    </div>
	</div>
</div>

   </include></div>
</div>
  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Product grid",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda619251258a562f1fdf43)"
        }
    ],
    "presets": [
        {
            "name": "Product grid",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "TzmdKUke8j": {
                "lh_5l1_text": "Quickview",
                "lh_rivarn_text": "Sold out",
                "lh_k4d9uk_sale": "On Sale",
                "lh_rv7qtl_text": "New",
                "heading": "Best seller for girl"
            }
        }
    }
}
{%endschema%}