<!--LH-SECTION-->
<section id="" data-section-id="mxevvon59jh" data-section="collection-sliders-5" data-lh-page-id="464" data-lh-page-name="Homepage - Roise" data-layouthub="section">  
 

<div class="lh-category-block">

	<div class="lh-category-wrapper">

		<div class="lh-container">

			<div class="lh-heading-title">

				<h2 class="lh-title"  data-lhi="heading_title" data-lh-lang></h2>

				<p class="lh-desc"  data-lhi="desc" data-lh-lang></p>

			</div>

			<include data-live-group_category data-live-loop data-live-auto data-live-time data-live-group_category__active data-live-group_category__active data-name="category" data-id="1">  
 <div class="lh-category-list">
	<div class="js-category owl-carousel owl-theme">
		 <div class="">
			<div class="lh-category-item">
				<div class="lh-category-thumbnail">
					<p  data-lhi="group_category[0]image" data-lhis="group_category-image"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/1644/8651/t/249/assets/mega-menu.jpg?v=1608147656447" alt="Makeup" class="lh-lazy hub-img"/></p>
					<div class="lh-link">
						<p  data-lhi="group_category[0]button_label" data-lh-lang data-lhi-child="a" data-lhis="group_category-button_label"><a href="/collections/may-collection" data-ga-action="tracking" data-ga-label="Label button" data-lhlink>{{'mxevvon59jh.lh_bo2obi_label' | t }}</a></p>
					</div>
				</div>
				<div class="lh-category-content">
					<div class="lh-heading ">
						<h2 class="lh-category__title"  data-lhi="group_category[0]title" data-lh-lang data-lhis="group_category-title"></h2>
					</div>
				</div>

			</div>
		</div>
		 <div class="">
			<div class="lh-category-item">
				<div class="lh-category-thumbnail">
					<p  data-lhi="group_category[1]image" data-lhis="group_category-image"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/1644/8651/t/249/assets/mega-menu-accessories1.jpg?v=1608147795154" alt="Skincare" class="lh-lazy hub-img"/></p>
					<div class="lh-link">
						<p  data-lhi="group_category[1]button_label" data-lh-lang data-lhi-child="a" data-lhis="group_category-button_label"><a href="/collections/all-accessories" data-ga-action="tracking" data-ga-label="Label button" data-lhlink>{{'mxevvon59jh.lh_3gzmqn_label' | t }}</a></p>
					</div>
				</div>
				<div class="lh-category-content">
					<div class="lh-heading ">
						<h2 class="lh-category__title"  data-lhi="group_category[1]title" data-lh-lang data-lhis="group_category-title"></h2>
					</div>
				</div>

			</div>
		</div>
		 <div class="">
			<div class="lh-category-item">
				<div class="lh-category-thumbnail">
					<p  data-lhi="group_category[2]image" data-lhis="group_category-image"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/1644/8651/t/249/assets/mega-menu-21.jpg?v=1608147821333" alt="Bodycare" class="lh-lazy hub-img"/></p>
					<div class="lh-link">
						<p  data-lhi="group_category[2]button_label" data-lh-lang data-lhi-child="a" data-lhis="group_category-button_label"><a href="/collections/holiday-glam-shop" data-ga-action="tracking" data-ga-label="Label button" data-lhlink>{{'mxevvon59jh.lh_4q3eu8_label' | t }}</a></p>
					</div>
				</div>
				<div class="lh-category-content">
					<div class="lh-heading ">
						<h2 class="lh-category__title"  data-lhi="group_category[2]title" data-lh-lang data-lhis="group_category-title"></h2>
					</div>
				</div>

			</div>
		</div>
		 
	</div>
</div>

   </include></div>

	</div>

</div>  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Collection Sliders",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda61dad5d63674c2146522)"
        }
    ],
    "presets": [
        {
            "name": "Collection Sliders",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "mxevvon59jh": {
                "lh_bo2obi_label": "Explore now",
                "lh_3gzmqn_label": "Explore now",
                "lh_4q3eu8_label": "Explore now"
            }
        }
    }
}
{%endschema%}