<!--LH-SECTION-->
<section id="" data-section-id="x4i6w48tc9m" data-section="our-products-5" data-dev="anh-tu" data-lh-page-id="986" data-lh-page-name="Moo - Landing" data-layouthub="section">  
  
 


  <div class="lh-container">
      <div class="lh-product-content">
          <div class="lh-info-wrapper bad_disable b_hide n_ellipsis" data-hub-attr-state="class%3D%22lh-info-wrapper%20%257B%253A%257Bsection.settings.button_badges%257D%253A%257D%20%257B%253A%257Bsection.settings.button_action%257D%253A%257D%20%257B%253A%257Bsection.settings.name_product%257D%253A%257D%22"  data-hub-attr-button_badges  data-hub-attr-button_action  data-hub-attr-name_product >
          <include data-live-op_heading data-live-op_des data-name="product-grid" data-id="1">  
 <div class="lh-product-grid">
    <div class="lh-heading">
        <h3  data-lhi="op_heading" data-lh-lang>{{'x4i6w48tc9m.lh_5hd_heading' | t }}</h3>
        <p  data-lhi="op_des" data-lh-lang data-lh-live-editor></p>
    </div>
	<div class="lh-product-slider">
		<div class="lh-row">
			{% assign current = collections['may-collection'] %}
			 

			{% assign limit = 12 %}

			{% for product in current.products limit:limit %}
			<div class="lh-col-md-3 lh-product-item">
				<div class="lh-collection-item">
					<div class="lh-product-thumb">
						<a href="{{product.url | within: collection}}">
							 
								<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ product.featured_image | img_url: '270x360_crop_center' }}" alt="{{product.title}}" class="lh-lazy"/>
								{% if product.images.size > 1 %}
									<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{product.images[1] | img_url : '270x360_crop_center' }}" class="lh-lazy lh-img-hover" alt="{{product.title}}"/>
								{% else %}
									<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{product.featured_image | img_url: '270x360_crop_center' }}" class="lh-lazy lh-img-hover" alt="{{product.title}}"/>
								{% endif %}
							 
						</a>
						<div class="lh-icon-features">
						{%- capture wishlist_content -%}
						<a href="javascript:void(0)" class="lh-icon-action lh-add-wishlist">
						<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'x4i6w48tc9m_heart.svg' | asset_url }}" alt="Images Icon" class="lh-lazy lh-icon"/>
						<span class="lh-tooltip"   data-lhi="trans_wishlist" data-lh-lang>{{'x4i6w48tc9m.lh_up5omg_wishlist' | t }}</span>
						</a>
						{%- endcapture -%}
						{%- render 'layouthub_wishlist', wishlist_content:wishlist_content, wishlist_type: 'other',product: product -%}

						{%- capture quickview_content -%}
						<a href="javascript:void(0)" class="lh-icon-action lh-quick-view">
						<img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'x4i6w48tc9m_quickview.svg' | asset_url }}" alt="Images Icon" class="lh-lazy lh-icon"/>
						<span class="lh-tooltip"   data-lhi="trans_view" data-lh-lang>{{'x4i6w48tc9m.lh_up5omg_view' | t }}</span>
						</a>
						{%- endcapture -%}
						{%- render 'layouthub_quickview', quickview_content: quickview_content, product: product -%}
						</div>
						<div class="product-buttons product-buttons--dark">

							{% if product.available %}
								{% if product.variants.size > 1 %}
								<div class="lh-icon add-to-cart-btn">
									<a href="{{ product.url | within: collection }}"  data-pid="{{product.id}}"   data-lhi="trans_view_more">View more</a>
								</div>
								{% else %}
								<div class="lh-icon add-to-cart-btn">
									<a href="/cart/add/{{product.variants.first.id}}"  data-pid="{{product.id}}"   data-lhi="trans_add_to_cart">Add to cart</a>
								</div>
								{% endif %}
							{% else %}
							<div class="lh-icon add-to-cart-btn">
								<a href="{{ product.url | within: collection }}" data-pid="{{product.id}}"   data-lhi="trans_infomations">Infomations</a>
							</div>
							{% endif %}
						</div>

						<div class="lh-product-badges">
							{% if product.available == false %}
							<span class="lh-sold-out"   data-lhi="trans_soldout_text">Sold out</span>
							{% else %}
								{% if  product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
									{% assign onehundred = 100 %}
									<span class="lh-onsale">-{{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100 | divided_by: product.selected_or_first_available_variant.compare_at_price}}%</span>

								{% elsif product.compare_at_price_varies %}
									{% assign onehundred = 100 %}
									<span class="lh-onsale">-{{ product.compare_at_price_max | minus: product.price | times: 100 | divided_by: product.compare_at_price_max}}%</span>
								{% endif%}
								{% if product.tags contains 'new' %}
									<span class="lh-hot"   data-lhi="trans_new_text">New</span>
								{% endif %}
							{% endif %}
						</div>
					</div>
					<div class="lh-product-info">
						<div class="lh-product-title">
							<a href="{{product.url | within: collection}}">{{product.title}}</a>
						</div>
						<div class="">
							<div class="lh-wrap-price">
								{% if product.compare_at_price_max > product.price %}
								<span class="lh-sale">{{product.compare_at_price_max | money}}</span>
								{% endif %}
								<span class="lh-cost">{{product.price | money}}</span>
							</div>
							 
												<div class="lh-rating-wrapper">
													{% render 'layouthub_review',  review_type: 'rating' ,product: product %}
												</div>
											 
						</div>




</div>
				</div>
			</div>
			{% endfor %}</div>
	 
	</div>
</div>

    </include></div>
      </div>
  </div>

   </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Our products",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda61dad5d63674c2146522)"
        }
    ],
    "presets": [
        {
            "name": "Our products",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "x4i6w48tc9m": {
                "lh_up5omg_wishlist": "Add To Wishlist",
                "lh_up5omg_view": "Quick View",
                "lh_5hd_heading": "NEW THIS WEEK"
            }
        }
    }
}
{%endschema%}