<!--LH-SECTION-->
<section id="" data-section-id="shns8i21bg" data-section="slider-9" data-dev="huynh-duc" data-lh-page-id="306" data-lh-page-name="Homepage - Gime" data-layouthub="section">  
  




<div class="lh-container-fluid">

	

		<include data-live-group_slide data-live-text_size data-live-text_size data-live-loop data-live-auto data-live-nav_show data-live-dot_show data-live-time data-live-group_slide__active data-live-group_slide__active data-name="slide" data-id="1">  
 <div class="lh-row">
	<div class="lh-slide-wraper">
		<div class="owl-carousel owl-theme">
			 <div class="lh-slide-item" style="background: #ffffff url(https://cdn.shopify.com/s/files/1/1644/8651/t/249/assets/carousel-desktop.jpg?v=1608141541487) center center/cover no-repeat scroll" data-hub-attr-state="class%3D%22lh-slide-item%22%20style%3D%22background%3A%20%22"   data-hub-attr-group_slide_0_image="group_slide[0]image" data-lhis="group_slide-image" data-lh-image-helper="section.settings.group_slide[0]image"image">
					<div class="lh-overlay no" data-hub-attr-state="class%3D%22lh-overlay%20%22"   data-hub-attr-group_slide_0_overlay="group_slide[0]overlay" data-lhis="group_slide-overlay" ></div>
					<div class="lh-container">
							<div class="lh-slide-info ">
								<div class="lh-slide-item-description">
									<div class="lh-heading-text t_medium" data-hub-attr-state="class%3D%22lh-heading-text%20%257B%253A%257Bsection.settings.text_size%257D%253A%257D%22"  data-hub-attr-text_size >
										<h2  data-lhi="group_slide[0]title" data-lh-lang data-lhis="group_slide-title"></h2>
										<p  data-lhi="group_slide[0]sub_title" data-lh-lang data-lhis="group_slide-sub_title"></p>
									</div>
									<div class="lh-btn-slider t_medium" data-hub-attr-state="class%3D%22lh-btn-slider%20%257B%253A%257Bsection.settings.text_size%257D%253A%257D%22"  data-hub-attr-text_size >
										<p  data-lhi="group_slide[0]btn_label" data-lh-lang data-lhis="group_slide-btn_label"></p>
									</div>
								</div>
							</div>
					</div>
				</div>
			 
		</div>
	</div>
</div>


   </include></div>

  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Slider",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda61dad5d63674c2146522)"
        }
    ],
    "presets": [
        {
            "name": "Slider",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "shns8i21bg": {}
        }
    }
}
{%endschema%}