<!--LH-SECTION-->
<section id="" data-section-id="qhf3mzjzru" data-section="inspiration" data-dev="dat" data-lh-page-id="952" data-lh-page-name="Furi - Landing" data-layouthub="section">  
  


<div class="lh-furniture">

    <div class="lh-container">

        <div class="lh-title">

            <h2 class="lh-text-title"  data-lhi="heading" data-lh-lang>{{'qhf3mzjzru.heading' | t }}</h2>

            <p class="lh-description"  data-lhi="description" data-lh-lang></p>

        </div>

        <div class="lh-list">

         <div class="lh-item">

            <div class="lh-row">

                <div class="lh-col-md-8">

                    <div class="lh-image"  data-lhi="list_item[0]image_item1" data-lhis="list_item-image_item1"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'qhf3mzjzru_image_ss6_1.png' | asset_url }}" class="lh-lazy"/></div>

                </div>

                <div class="lh-col-md-4">

                    <div class="lh-image"  data-lhi="list_item[0]image_item2" data-lhis="list_item-image_item2"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'qhf3mzjzru_image_ss6_2.png' | asset_url }}" class="lh-lazy"/></div>

                </div>

            </div>

            </div>

         <div class="lh-item">

            <div class="lh-row">

                <div class="lh-col-md-8">

                    <div class="lh-image"  data-lhi="list_item[1]image_item1" data-lhis="list_item-image_item1"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'qhf3mzjzru_image_ss6_4.png' | asset_url }}" class="lh-lazy"/></div>

                </div>

                <div class="lh-col-md-4">

                    <div class="lh-image"  data-lhi="list_item[1]image_item2" data-lhis="list_item-image_item2"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'qhf3mzjzru_image_ss6_3.png' | asset_url }}" class="lh-lazy"/></div>

                </div>

            </div>

            </div>

         



        </div>

    </div>



</div>

  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Inspiration",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda5e5080a39372c17589b3)"
        }
    ],
    "presets": [
        {
            "name": "Inspiration",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "qhf3mzjzru": {
                "heading": "FEATURED COLLECTIONS"
            }
        }
    }
}
{%endschema%}