<!--LH-SECTION-->
<section id="" data-section-id="gjia22nkffp" data-section="banner-11" data-dev="thocuong" data-lh-page-id="638" data-lh-page-name="Landing - Perfume" data-layouthub="section">  
  


      <div class="lh-banner" >

              <div class="lh-banner-item">

                  <div class="lh-overlay no" data-hub-attr-state="class%3D%22lh-overlay%20%257B%253A%257Bsection.settings.overlay%257D%253A%257D%22"  data-hub-attr-overlay ></div>

                  <div class="lh-container">

                      <div class="lh-row">

                              <div class="lh-banner-item-content lh-mr lh-col-md-12">

                                <div class="lh-banner-item-content-info">

                                    <p class="lh-banner-item-content-sub-title"  data-lhi="sub_title" data-lh-lang></p>

                                    <h3 class="lh-banner-item-content-title"  data-lhi="title" data-lh-lang></h3>

                                    <div class="lh-show-price">

                                        <span class="lh-sale-price"  data-lhi="sale_price" data-lh-lang></span>

                                        <span class="lh-price"  data-lhi="price" data-lh-lang></span>

                                    </div>

                                    <p class="lh-banner-description"  data-lhi="description" data-lh-lang data-lh-live-editor></p>

                                    <p class="lh-banner-item-button"  data-lhi="btn" data-lh-lang data-lhi-child="a"><a href="#" data-lhlink></a></p>

                                </div>

                              </div>

                      </div>

                  </div>   

               </div>

        

      </div>





  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Banner",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda5e5080a39372c17589b3)"
        }
    ],
    "presets": [
        {
            "name": "Banner",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "gjia22nkffp": {}
        }
    }
}
{%endschema%}