<!--LH-SECTION-->
<section id="" data-section-id="gvpx7qjexiv" data-section="banner-24" data-dev="hongyen" data-lh-page-id="1047" data-lh-page-name="Landing - Nail Lamp" data-layouthub="section">  
  
 
	<div class="lh-container">
		<div class="lh-row">
			<div class="lh-col-md-6">
				<div class="lh-text">
					<h3  data-lhi="text_title" data-lh-lang></h3>
					<p class="btn-main"  data-lhi="btn_link" data-lh-lang data-lhi-child="a"><a href="/collections/may-collection" data-ga-action="tracking" data-ga-label="Button" data-lhlink><i class="lni lni-arrow-right"></i></a></p>
				</div>
			</div>
            <div class="lh-pos hide-tablet" style="top: 15%; right:10% " data-hub-attr-state="class%3D%22lh-pos%20hide-tablet%22%20style%3D%22top%3A%20%257B%253A%257Bsection.settings.t%257D%253A%257D%3B%20right%3A%257B%253A%257Bsection.settings.r%257D%253A%257D%20%22"  data-hub-attr-t  data-hub-attr-r >
				<p class="lh-percent"   data-lhi="text_percent" data-lh-lang></p>
            </div>
            <div class="lh-pos show-tablet" style="top: 10%; right:3% " data-hub-attr-state="class%3D%22lh-pos%20show-tablet%22%20style%3D%22top%3A%20%257B%253A%257Bsection.settings.t_tablet%257D%253A%257D%3B%20right%3A%257B%253A%257Bsection.settings.r_tablet%257D%253A%257D%20%22"  data-hub-attr-t_tablet  data-hub-attr-r_tablet >
                <p class="lh-percent"   data-lhi="text_percent" data-lh-lang></p>
            </div>
		</div>
	</div>

  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Banner",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda61dad5d63674c2146522)"
        }
    ],
    "presets": [
        {
            "name": "Banner",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "gvpx7qjexiv": {}
        }
    }
}
{%endschema%}