<!--LH-SECTION-->
<section id="" data-section-id="kpq5r4j2u0o" data-section="category-2" data-dev="trong-dai" data-lh-page-id="847" data-lh-page-name="Homepage - Ligh" data-layouthub="section">  
  
 



<div class="lh-wrapper">

  <div class="lh-container">

    <div class="owl-ttm-cr owl-carousel owl-theme">

      {% assign c = collections['all'] %}
         
          {% assign c = collections['all-tops'] %}
         
        <div class="lh-item">
          <a href="{{c.url | default: '#'}}">
            <div class="lh-img">
               
                <text  data-lhi="slider_items[0]img" data-lhis="slider_items-img"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'kpq5r4j2u0o_modern.svg' | asset_url }}" alt="collection" class="lh-lazy"/></text>
               
            </div>
            <h4>{{c.title}}</h4>
          </a>
        </div>
       {% assign c = collections['all'] %}
         
          {% assign c = collections['licensed'] %}
         
        <div class="lh-item">
          <a href="{{c.url | default: '#'}}">
            <div class="lh-img">
               
                <text  data-lhi="slider_items[1]img" data-lhis="slider_items-img"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'kpq5r4j2u0o_table-lamp.svg' | asset_url }}" alt="collection" class="lh-lazy"/></text>
               
            </div>
            <h4>{{c.title}}</h4>
          </a>
        </div>
       {% assign c = collections['all'] %}
         
          {% assign c = collections['all-graphic-tees'] %}
         
        <div class="lh-item">
          <a href="{{c.url | default: '#'}}">
            <div class="lh-img">
               
                <text  data-lhi="slider_items[2]img" data-lhis="slider_items-img"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'kpq5r4j2u0o_accs.svg' | asset_url }}" alt="collection" class="lh-lazy"/></text>
               
            </div>
            <h4>{{c.title}}</h4>
          </a>
        </div>
       {% assign c = collections['all'] %}
         
           
         
        <div class="lh-item">
          <a href="{{c.url | default: '#'}}">
            <div class="lh-img">
               
                <text  data-lhi="slider_items[3]img" data-lhis="slider_items-img"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'kpq5r4j2u0o_floor-lamp.svg' | asset_url }}" alt="collection" class="lh-lazy"/></text>
               
            </div>
            <h4>{{c.title}}</h4>
          </a>
        </div>
       {% assign c = collections['all'] %}
         
           
         
        <div class="lh-item">
          <a href="{{c.url | default: '#'}}">
            <div class="lh-img">
               
                <text  data-lhi="slider_items[4]img" data-lhis="slider_items-img"><img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'kpq5r4j2u0o_mini.svg' | asset_url }}" alt="collection" class="lh-lazy"/></text>
               
            </div>
            <h4>{{c.title}}</h4>
          </a>
        </div></div>

  </div>

</div>



 



  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Category",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda5e5080a39372c17589b3)"
        }
    ],
    "presets": [
        {
            "name": "Category",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "kpq5r4j2u0o": {}
        }
    }
}
{%endschema%}