<!--LH-SECTION-->
<section id="" data-section-id="84ljkvtd44m" data-section="banner" data-lh-page-id="329" data-lh-page-name="Homepage - Cowi" data-layouthub="section">  
 

	

<div class="lh-container-fluid">

   <div class="lh-row">

      <div class="lh-banner">

              <div class="lh-banner-item">

                 <p class="lh-image-testimonial"  data-lhi="image" data-lh-lang><img src="https://cdn.shopify.com/s/files/1/1644/8651/t/249/assets/carousel-desktop.jpg?v=1608141541456" alt="{{'84ljkvtd44m.image' | t }}" class="hub-img" /></p>

                  <div class="lh-overlay no" data-hub-attr-state="class%3D%22lh-overlay%20%257B%253A%257Bsection.settings.overlay%257D%253A%257D%22"  data-hub-attr-overlay ></div>

                  <div class="lh-container">

                      <div class="lh-row">

                        <div class="lh-col-md-12">

                           <div class="lh-banner-item-content lh-mr">

                                  <p class="lh-banner-item-content-sub-title"  data-lhi="sub_title" data-lh-lang></p>

                                  <h3 class="lh-banner-item-content-title"  data-lhi="title" data-lh-lang></h3>

                                  <p class="lh-banner-item-button"  data-lhi="btn" data-lh-lang data-lhi-child="a"><a href="/collections/may-collection" data-ga-action="tracking" data-ga-label="Label button" data-lhlink>{{'84ljkvtd44m.btn' | t }}</a></p>

                            </div>

                        </div>

                             

                      </div>

                  </div>   

               </div>

        

      </div>

    </div>

</div>

  </section><!--/LH-SECTION-->{%schema%}
{
    "name": "Banner",
    "settings": [
        {
            "type": "header",
            "content": "The section generated by [LayoutHub](https:\/\/www.layouthub.com).",
            "info": "LayoutHub provides tons of pre-built Layouts and Blocks\/Sections and focus on the simplicity for content editing, to help the merchants easy to build a nice store with drag, sorting and edit content only. "
        },
        {
            "type": "paragraph",
            "content": "Edit this section [here](https:\/\/app.layouthub.com\/editor?page=page&id=5fda61dad5d63674c2146522)"
        }
    ],
    "presets": [
        {
            "name": "Banner",
            "category": "LayoutHub"
        }
    ],
    "locales": {
        "en": {
            "84ljkvtd44m": {
                "image": "Banner",
                "btn": "SHOP NOW"
            }
        }
    }
}
{%endschema%}