$button-background: {{settings.button_background}};
$button-text-color: {{settings.button_text_color}};

$navigation-background      : {{settings.navigation_background}};
$navigation-text-color      : {{settings.navigation_text_color}};
$navigation-text-color-light: rgba($navigation-text-color, 0.5);
$navigation-border-color    : rgba($navigation-text-color, 0.25);

/* Product Tile */
.ProductItem__Label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

.ProductItem__Label--onSale {
  color: #FF0055;
}

/* Header */
.Header:not(.Header--transparent) .HorizontalList__Item.is-expanded .Header__LinkSpacer::after, .Header:not(.Header--transparent) .HorizontalList__Item.is-active .Header__LinkSpacer::after {
  opacity: 0;
  transform: none;
}

/* MegaMenu */
.MegaMenu__Title {
	font-size: 12px;
  	font-weight: 700;
	color: #000;
}

/* Filters */
.CollectionFilters .ColorSwatch {
	border: 1px solid currentColor !important;
}


/* Buttons */
.Button {
  font-weight: 600;
}

/* Sizeswatch */
.SizeSwatch {
  min-height: 36px;
  font-size: 13px;
	font-weight: bold;
}

.SizeSwatch:hover {
	border: 1px solid #000;
}


/* AfterPay*/
.afterpay-link, .afterpay-text3 {
	display: none;
}

.ColorSwatch__Radio {
	border-radius: 25px;
}


/* Sale message */
.ProductMeta__SaleMessageContainer {
  font-family: var(--sale_message_font_family);
  font-weight: var(--sale_message_font_weight);
  font-style: var(--sale_message_font_style);
  font-size: var(--sale_message_font_size);
  color: var(--sale_message_color);
  margin: 24px 0 0;
}

/* Newsletter message */
.ImageHero__ContentOverlay {
    text-shadow: none;
}

.Header__MainNav .HorizontalList li:last-child > .Heading {
    color: #B08D71;
}


/* Cart Drawer */
.Cart__ShippingNotice {
    border-bottom: none;
}

.Drawer__Header--bordered {
    box-shadow: none;
}

.Cart .Drawer__Footer {
  padding: 0 18px 30px 24px;
  @media only screen and (min-width: 641px) {
    padding: 0 30px 30px 30px;
  }
}

.Drawer__Footer {
    box-shadow: none;
}

/* Slideshow */
.flickity-slider {
.SectionHeader__Heading--emphasize {
	margin: 0 16px 16px 0;
	text-shadow: 0 0 12px rgba(0, 0, 0, .5);
}
}


/* Collection Tile*/
.CollectionItem__Content--bottomCenter {
    bottom: 20px;
}

/* #section-collection-list .Button {
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: .5px;
    letter-spacing: .035em;
    color: #000;
    text-transform: none;
    text-decoration: none;
    line-height: 1.9;
    padding: 0;
    background-color: none;
    margin: .8em 0;
    border: 0;
    border-bottom: 2px solid #000;
    height: auto;
    cursor: pointer;
    white-space: nowrap;
} */

.Header__CartDot {
    background-color: #7ED321;
}

i.icon-swym-wishlist {
  font-family: 'swym-icons';
  font-style: normal;
  vertical-align: middle;
}
i.icon-swym-wishlist+span {
  vertical-align: middle;
}
i.icon-swym-wishlist:after {
  content: '';
  font-size: 130%;
  line-height: 18px;
  text-align: center;
  display: inline;
}
/*content rendered after swym is ready to avoid showing block/invalid chars*/
.swym-ready i.icon-swym-wishlist:after {
  content: '\f004';
}

.swym-button-bar {
  .Product__Info & {
    display: none;
  }
}

.ProductForm__AddToCartContainer {
  display: flex;
  align-items: center;
  .ProductForm__AddToCart {
    flex: 1;
  }
}

.custom-wishlist-button.swym-add-to-wishlist-view-product {
  padding: 10px !important;
  border: 1px solid #000 !important;
  font-size: 1.6em !important;
  margin-right: 10px !important;
  &:after {
    color: #000 !important;
  }
  &.swym-added{
    opacity: 1 !important;
    &:after {
      color: #000 !important;
    }
  }
}


//Quickshop
.ProductItem__ImageContainer {
  position: relative;
  &:hover .ProductItem__QuickshopContainer {
    display: block;
  }
}
.ProductItem__QuickshopContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
  padding: 20px 10px;
}
.QuickshopProductForm__SubmitButton {
  display: block;
  text-align: center;
  width: 100%;
  background: $button-background;
  color: $button-text-color;
  font-size: 0.8em;
  letter-spacing: 2.4px;
  line-height: 1.2;
  padding: 9px;
  text-transform: uppercase;
  &:disabled {
    cursor: not-allowed;
  }
}
.QuickShopProductForm__SizeOptionsContainer {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: $button-background;
  color: $button-text-color;
  font-size: 0.75em;
  line-height: 1.3;
  letter-spacing: normal;
  margin: 0 0 2px;
  .QuickshopProductForm__OptionsAndButtonContainer:hover &{
    display: flex;
  }
}
.QuickshopProductForm__SizeOption {
  padding: 5px;
  text-transform: uppercase;
}
.QuickshopProductForm__SizeOptionRadio {
  display: none;
}
.QuickshopProductForm__SizeOptionLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px 6px;
  border:1px solid transparent;
  .QuickshopProductForm__SizeOptionRadio:checked + &{
    border: 1px solid $button-text-color;
  }
  .QuickshopProductForm__SizeOptionRadio:disabled + &{
    text-decoration: line-through;
    cursor:not-allowed;
  }
}
.QuickshopSelect {
  display: none;
}
.QuickshopProductForm__SubmitButtonHoverText {
  display: none;
}
.CustomQuickshopModal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
  &.visible {
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }
}
.CustomQuickShopOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  z-index: 0;
}
.CustomQuickshopWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.CustomQuickshopContainer {
  position: relative;
  z-index: 1;
  max-width: 960px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.25);
  // .Product__SlideshowNavArrow {
  //   display: none;
  // }
  .flickity-prev-next-button {
    top: 50%;
    transform: translateY(-50%);
    &.next {
      left: calc(100% + 5px);
    }
    &.previous {
      right: calc(100% + 5px);
    }
  }

  .Product__SlideshowMobileNav {
    margin: 0 24px;
  }
}
.QuickShop__ProductGallery {
  margin: 10px 0px 20px 90px;
}
.QuickShop__ProductInfo {
  margin: 30px 50px 0 95px;
  position: static;
}
.QuickShopProductSection {
  margin: 0;
}
.QuickShopViewDetailsContainer {
  margin: 25px 0 0;
  font-size: 12px;
  text-decoration: underline;
  letter-spacing: normal;
  color: #000;
}
.QuickShopCloseModal {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1;
  svg {
    display: block;
    width: 12px;
    height: 12px;
  }
}
.QuickShopPriceList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  letter-spacing: normal;
  .ProductMeta__Price.Price--compareAt {
    margin-right: 10px;
    margin-left: 0;
    text-decoration: line-through;
    &:before {
      display: none;
    }
  }
  .ProductMeta__SaleMessageContainer {
    margin: 0 0 0 10px;
    text-transform: none;
  }
}
.QuickShopProductTitle {
  letter-spacing: normal;
  text-transform: none;
}
@media only screen and (max-width: 1139px) {
  .ProductItem__ImageContainer {
    &:hover .ProductItem__QuickshopContainer {
      display: none;
    }
  }
  .QuickShopProductForm__SizeOptionsContainer {
    display: none;
    .QuickshopProductForm__OptionsAndButtonContainer:hover &{
      display: none;
    }
  }
}

@media screen and (min-width: 1140px) {
  .ProductRecommendationsList {
    .Carousel__Cell {
      width: calc(100% / 6);
      padding: 0 10px;
    }
  }
}

// Hide smartbadge from cart item
.CartItem {
  .smbdg_item {
    display: none;
  }
}
.bold-bundles-widget-item {
  .smbdg_item {
    display: none;
  }
}

// Bold bundles widget styles
.bold-bundles-widget-item__title {
  font-weight: 700;
  font-style: normal;
  color: #000;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 12px;
}
.bold-bundles-widget-header__title {
  font-weight: 700;
  font-style: normal;
  color: #000;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 14px;
}
.bold-bundles-widget__button {
  width: 100%;
  display: block;
  background: $button-background;
  color: $button-text-color;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 14px 28px;
}
.bold-bundles-widget__button--top {
  border-bottom-color: $button-text-color;
}
.bold-bundles-widget__button--bottom {
  border-top-color: $button-text-color;
}
.bold-bundles-widget-item__price--old {
  color: #000;
}
.bold-bundles-widget-item__price--new {
  color: #f05;
}
.bold-bundles-widget-item__price {
  font-weight: 700;
  font-style: normal;
  color: #000;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.bold-bundles-widget-item__link {
  max-width: 100%;
}
.bold-bundles-widget-item__variants {
  padding: 10px;
}
.bold-bundles-widget-item-separator {
  background: #000;
}

#shopthelook {
	display: none !important;
}

.ProductReviews__Container {
  max-width: 500px;
  margin-top: -51px;
  @media screen and (min-width: 641px) {
    margin-top: -81px;
  }
  @media only screen and (min-width: 1008px) {
    max-width: calc(100% - 200px);
    margin-top: 0;
  }
  @media only screen and (min-width: 1340px) {
    max-width: 1130px;
  }
  @media only screen and (min-width: 1500px) {
    max-width: 1240px;
  }
  .Container {
    @media only screen and (min-width: 641px) {
      padding: 0;
    }
  }
}

.Drawer__UpsellCollection--Item {
  width: 100%;
  padding-right: 30px;
  @media only screen and (min-width: 641px) {
    width: 65%;
    padding-right: 0;
  }
  .CartItem {
    margin: 0;
  }
}
.DrawerUpsellSelect {
  display: block;
  width: 100%;
  margin: 0 0 10px;
}
.Drawer__UpsellCollection--FakeForm {
  width: 100%;
}
.Drawer__UpsellCollection {
  // padding-top: 20px;
  // border-top: 1px solid $navigation-border-color;
  padding: 20px 0 0 0;
  .flickity-page-dots {
    margin: 15px 0 0;
  }
  .flickity-viewport {
    margin-right: -18px;
    @media only screen and (min-width: 641px) {
      margin-right: -30px;
    }

  }
}
.Drawer__UpsellColelction--AddToCart {
  padding: 5px 22px;
}


// Static tag based PDP message
.ProductStaticMessageContainer {
  color: var(--static_message_color);
  margin: 0 0 24px;
}

// College page redesign
.CollegePage-Container {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 50px;
}
.CollegePage-ListContainer {
  max-width: 170px;
  margin-right: 90px;
}
.CollegePage-GridContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
}
.CollegePage-GridItem {
  position: relative;
  display: flex;
}
.CollegePage-GridItem__ImageWrapper {
  padding: 10px;
  // background: var(--background);
  width: 84px;
  margin-right: 10px;
}
.CollegePage-GridItem__Link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CollegePage-GridItem__Title {
  margin: 22px 0 0;
  font-weight: bold;
  color: var(--team_name_color);
  flex: 1;
}
.CollegePage-ListTitle {
  font-weight: bold;
  margin: 0 0 16px;
  color: var(--list_title_color);
}
.CollegePage-ListItem {
  margin: 0 0 16px;
  text-decoration: underline;
  color: var(--list_item_color);
  &:last-child {
    margin: 0 0 0;
  }
}
.CollegePage-GridItem__Image {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media only screen and (max-width: 1140px) {
  .CollegePage-GridContainer {
    grid-template-columns: repeat(3, 1fr);

  }
  .CollegePage-Container {
    padding: 0 30px;
  }
  .CollegePage-GridItem__ImageWrapper {
    width: 105px;
  }
}

@media only screen and (max-width: 767px) {
  .CollegePage-GridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 5px;
  }
  .CollegePage-ListContainer {
    display: none;
  }
  .CollegePage-Container {
    padding: 0 15px;
  }
  .CollegePage-GridItem__ImageWrapper {
    width: 17vw;
    padding: 3px;
  }
  .CollegePage-GridItem__Title {
    margin: 0;
  }
  .CollegePage-GridItem {
    align-items: center;
  }
  .CollegePage-GridItem__Title {
    font-size: 12px;
  }
}

// College style nav
.MegaMenu__Item--columns {
  -webkit-column-count: var(--columns);
  -moz-column-count: var(--columns);
  column-count: var(--columns);
  .Linklist__Item {
    margin-bottom: 1em;
  }
  .Link {
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    span {
      flex: 1;
    }
  }
}
.MegaMenu__Item {
  &.SplitIntoTwoColumns {
    column-count: 2;
    column-gap: 30px;
  }
}
.Linklist__Item--ImageWrapper {
  width: 22px;
  height: 22px;
  display: block;
  margin-right: 15px;
  position: relative;
}
.Linklist__Item--Image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.Collapsible__Button.CollegeStyle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  span {
    flex: 1;
  }
}


// College collection template
.CollegeCollectionBanner--Tablet {
  display: none;
}
.CollegeCollectionImage {
  display: block;
  width: 100%;
  object-fit: cover;
}
.CollegeCollectionHeader {
  background-color: var(--background_color);
  color: var(--color);
  padding: 14px 50px;
  margin: 0 0 -30px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  grid-gap: 12px;
}
.CollegeCollectionLogo {
  display: block;
  max-width: 135px;
}
.CollegeCollectionHeading {
  color: inherit;
  letter-spacing: 12px;
  font-size: 22px;
}
.CollegeCollectionHeadingContainer {
  text-align: center;
}
.CollectionDescription__Container {
  padding: 50px;
  &.MarginForSidebar {
    margin-left: 260px;
  }
}

@media only screen and (max-width: 1139px) {
  .CollegeCollectionBanner--Tablet {
    display: block;
  }
  .CollegeCollectionBanner--Desktop-and-Mobile {
    display: none;
  }
  .CollectionDescription__Container {
    &.MarginForSidebar {
      margin-left: 216px;
    }
  }
}

@media only screen and (max-width: 1007px) {
  .CollegeCollectionHeader {
    margin: 0;
  }
  .CollegeCollectionLogo {
    max-width: 64px;
  }
  .CollegeCollectionHeading {
    letter-spacing: 10px;
    font-size: 18px;
  }
  .CollectionDescription__Container {
    padding: 50px 24px;
    &.MarginForSidebar {
      margin-left: 0px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .CollegeCollectionBanner--Tablet {
    display: none;
  }
  .CollegeCollectionBanner--Desktop-and-Mobile {
    display: block;
  }
  .CollegeCollectionHeader {
    padding: 24px 12px;
    grid-template-columns: 1fr 5fr;
  }
  .CollegeCollectionHeadingContainer {
    text-align: left;
  }
  .CollegeCollectionHeading {
    font-size: 14px;
    letter-spacing: 8px;
  }
  .CollectionDescription__Container {
    padding: 50px 10px;
  }
}
