/* PageFly Element Styles */
						.jklmHY { padding: var(--pf-s-lg); }
@media (min-width: 992px) and (max-width: 1199px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (min-width: 992px) and (max-width: 1199px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.jscnWO { display: flex; }
.jscnWO img { object-fit: contain; width: 100%; }
.cPqVsD { grid-gap: var(--pf-s-lg); }
@media (min-width: 992px) and (max-width: 1199px) {
  .cPqVsD { grid-gap: var(--pf-s-md); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cPqVsD { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cPqVsD { grid-gap: var(--pf-s-xs); }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-b3d2f7be {
		margin-bottom: 15px;
		 height: 300px;
	}
	.__pf .pf-f7beb1ec {
		text-align: center;
	}
}
						