<div class="powr-image-slider" id="17949906_1605907833"></div>    {% render 'shogun-products', content: collection %}

{{collection.metafields.shogun.above}}
{% section 'collection-template' %}
{% section 'recently-viewed-products' %}
{% section 'collection-footer' %}

{{collection.metafields.shogun.below}}


{% include 'wiser_trending' %}{% include 'wiser_recentview' %}{% include 'wiser_newarrivals' %}{% include 'wiser_featured' %}{% include 'wiser_topselling' %}{% include 'wiser_recent_related' %}