<div class="swell-Gameday">
  <section id="banner">
    <img class="swell-mobile" src="{{'swell-banner-mbl-logged-in.jpg' | asset_url }}">
    <div class="banner-main-header">
      <h1 class="banner-main-heading">THE SOCIAL CLUB</h1>
    </div>
    <div class="caption-content-holder">
      <div class="caption-content">
        <div class="banner-header">
          Rewards
        </div>
        <div class="banner-text">
          As a rewards member, you’ll get closer to earning exclusive rewards every time<br class="swell-mobile"> you shop.
        </div>
        {% unless customer %}
        <ul class="swell-link-list">
          <li class="swell-link">
            <a href="/account/register" class="sign-up-btn">Sign up
            </a>
          </li>
        </ul>
        <div class="banner-login">
          Already have an account? <span><a href="/account/login" class="signin-text">Sign in here.</a></span>
        </div>
        {% endunless %}
      </div>
    </div>
  </section>
  <!-- banner section ends -->
  {% if customer %}
  <div class="login">
    <div class="login-header">
      <h3 class="login-heading">
        Hi, {{customer.first_name}}!<br> You have <span class="swell-point-balance">X</span> points
      </h3>
    </div>
    <ul class="swell-link-list">
      <li class="swell-link">
        <a href="/checkout" class="swell-btn">Redeem Now
        </a>
      </li>
      <li class="swell-link">
        <a href="javascript:void(0);" class="swell-btn swell-history-link">Rewards History
        </a>
      </li>
    </ul>
  </div>
  <!-- login section ends -->
  {% else %}
  <section id="how-it-work">
    <div class="how-it-work-holder">
      <div class="how-it-work-heading">
        <h3 class="swell-heading">
          How it Works
        </h3>
        <div class="swell-details">
          Join rewards program today, earn points each time you shop and start saving by redeeming exclusive discount offers.
        </div>
      </div>
      <div class="how-it-work-content-holder">
        <div class="how-it-work-content">
          <div class="hiw-image">
            <img src="{{'swell-hiw-join.png' | asset_url }}">
          </div>
          <div class="how-it-work-head">
            <h6 class="swell-header-details">Join</h6>
          </div>
        </div>
        <div class="how-it-work-content">
          <div class="hiw-image">
            <img src="{{'swell-hiw-earn.png' | asset_url }}">
          </div>
          <div class="how-it-work-head">
            <h6 class="swell-header-details">earn points</h6>
          </div>
        </div>
        <div class="how-it-work-content">
          <div class="hiw-image">
            <img src="{{'swell-hiw-redeem.png' | asset_url }}">
          </div>
          <div class="how-it-work-head">
            <h6 class="swell-header-details">redeem points</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  how it work section end  -->
  <section class="swell-referral-widget {% unless customer %} logged-out {% endunless %}">
    <div class="swell-container">
      <div class="swell-refer-image-holder swell-mobile">
        <img src="{{'swell-referral-mob.jpg' | asset_url}}">
      </div>
      <div class="yotpo-widget-instance" data-yotpo-instance-id="1397" customer-email-view-input-placeholder='Enter email'
      customer-email-view-label-text='Enter your email below to get started'
      referral-views-friends-input-placeholder="Your friends' emails (separated by commas)"
      referral-email-view-label-text="Now, Enter your friends' emails."
      share-copy-link-text="Copy Link"
      share-link-copied-text="Copied"
      share-facebook-button-text="Share"
      share-facebook-messenger-button-text="Message"
      share-twitter-button-text="Tweet"></div>
    </div>
  </section>
  <!-- refer section ends -->
  <section id="way-to-earn-points">
    <div class="swell-container">
      <div class="way-to-earn-points-header">
        <h3 class="swell-heading">Ways To Earn Points</h3>
      </div>
      <ul class="campaign-holder">

      </ul>
    </div>
  </section>
  <!-- campaign section ends -->
  {% endif %}
  <!--<div class="vip-table-section ">
    <div class="swell-container">
      <div class="swell-heading-section">
        <h2 class="swell-heading ">VIPs Earn Even More</h2>
      </div>
      <div class="swell-tier-table {% if customer %} logged-in {% endif %}">

      </div>
    </div>
  </div> -->
  <!-- tier table section ends -->

 <!-- <div class="redemptions {% if customer %} logged-in {% endif %}">
    <div class="redemptions-holder">
      <div class="redeem-image">
        <img class="swell-desktop" src="{{'swell-redeem-desktop.png' | asset_url }}">
        <img class="swell-mobile" src="{{'swell-redeem-mbl.png' | asset_url }}">
      </div>
      <div class="redemptions-content-holder">
        <div class="redemptions-content-container">
          <h3 class="redeem-text">redeem</h3>
          <div class="redemptions-content">
            <div class="redeem-header">
              <h3 class="swell-heading">redeem for<br class="swell-mobile"> discounts</h3>
            </div>
            <div class="swell-details">
              Redeeming your hard-earned points is easy!<br class="swell-desktop">Simply apply your points for a discount at checkout!
            </div>
            <ul class="swell-link-list">
              <li class="swell-link">
                <a href="/checkout" class="swell-btn">redeem now</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <!-- redeem for discount section ends -->

  {% if customer %}
  <section id="way-to-earn-points">
    <div class="swell-container">
      <div class="way-to-earn-points-header">
        <h3 class="swell-heading">Ways To Earn Points</h3>
      </div>
      <ul class="campaign-holder">

      </ul>
    </div>
  </section>
  <!-- campaign section ends -->
  <section class="swell-referral-widget {% if customer %} logged-in {% endif %}">
    <div class="swell-container">
      <div class="swell-refer-image-holder swell-mobile">
        <img src="{{'swell-referral-mob.jpg' | asset_url}}">
      </div>
      <div class="yotpo-widget-instance" data-yotpo-instance-id="1397" customer-email-view-input-placeholder='Enter email'
      customer-email-view-label-text='Enter your email below to get started'
      referral-views-friends-input-placeholder="Your friends' emails (separated by commas)"
      referral-email-view-label-text="Now, Enter your friends' emails."
      share-copy-link-text="Copy Link"
      share-link-copied-text="Copied"
      share-facebook-button-text="Share"
      share-facebook-messenger-button-text="Message"
      share-twitter-button-text="Tweet"></div>
    </div>
  </section>
  <!-- refer section ends -->
  {% endif %}
</div>
